In [2]:
import fredapi as fa
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
from fredapi import Fred
fred_key = "d34fe23431a301d61901411501067ecb"
fred = Fred(fred_key)

Fetch unemployment data for counties

In [4]:
df = fred.search("unemployment rate")
#unemployment.columns
#display(unemployment)
#unemployment.dtypes
df['title']

series id
UNRATE                                                   Unemployment Rate
UNRATENSA                                                Unemployment Rate
LNS14000006                  Unemployment Rate - Black or African American
LNU04000006                  Unemployment Rate - Black or African American
NROU                                      Noncyclical Rate of Unemployment
                                               ...
LRUN74TTDKQ156N          Infra-Annual Labor Statistics: Unemployment Ra...
WICH620UR                           Unemployment Rate in Wichita, KS (MSA)
CNERURN                       Unemployment Rate in Northeast Census Region
FASUR                    Unemployment Rate in Fayetteville-Springdale-R...
LAUMT552458000000003A             Unemployment Rate in Green Bay, WI (MSA)
Name: title, Length: 1000, dtype: object

In [15]:
df2 = df[df['title'].str.contains('Unemployment Rate in')]
df3 = df2[df2['frequency'].str.startswith('Monthly')]
df4 = df3[df3['title'].str.contains('County')]
#len(df3)
#display(df4)
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
unemployment_by_county = {}
#display(df4.title)
for series_id in df4.index:
    #display(series_id)
    unemployment_by_county[df4.title[series_id]] = fred.get_series(series_id)
    unemployment_by_county[df4.title[series_id]] = unemployment_by_county[df4.title[series_id]].dropna()
    #display(unemployment_by_county[series_id])
    #print(unemployment_by_county[series_id].index)
    filt = unemployment_by_county[df4.title[series_id]].index > "2016-12-01"
    unemployment_by_county[df4.title[series_id]] = unemployment_by_county[df4.title[series_id]][filt]
    filt2 = unemployment_by_county[df4.title[series_id]].index < "2024-01-01"
    unemployment_by_county[df4.title[series_id]] = unemployment_by_county[df4.title[series_id]][filt2]
    #print(unemployment_by_county[series_id].index)

In [24]:
unemployment_by_county = pd.DataFrame(unemployment_by_county).T
display(unemployment_by_county)
unemployment_by_county.T.to_csv('./data/unemployment_by_county.csv', index=True)

,2017-01-01,2017-02-01,2017-03-01,2017-04-01,2017-05-01,2017-06-01,2017-07-01,2017-08-01,2017-09-01,2017-10-01,...,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01
"Unemployment Rate in Los Angeles County, CA",5.3,5.1,4.7,4.5,4.4,4.8,5.4,5.4,4.8,4.5,...,4.8,4.4,4.7,5.1,5.3,5.6,5.3,5.1,4.9,5.0
"Unemployment Rate in Miami-Dade County, FL",5.2,5.0,5.2,4.7,4.7,4.8,4.9,5.1,4.8,4.4,...,2.0,1.8,1.9,1.9,1.9,2.0,1.8,1.7,1.5,1.6
"Unemployment Rate in San Francisco County/City, CA",3.4,3.2,3.0,2.8,2.8,3.2,3.2,3.2,2.8,2.7,...,2.9,2.7,2.9,3.3,3.4,3.8,3.5,3.7,3.6,3.6
"Unemployment Rate in Philadelphia County/City, PA",6.6,6.7,6.3,5.8,6.2,6.5,7.1,7.1,6.3,6.0,...,4.1,3.6,4.0,4.3,4.6,5.2,4.1,4.2,3.8,3.7
"Unemployment Rate in San Diego County, CA",4.7,4.4,4.3,3.9,3.8,4.3,4.5,4.3,3.8,3.7,...,3.5,3.2,3.3,3.9,4.0,4.4,4.2,4.3,4.3,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Unemployment Rate in Travis County, TX",3.5,3.5,3.3,2.9,3.0,3.2,3.2,3.2,2.9,2.7,...,3.3,2.9,3.2,3.4,3.5,3.6,3.4,3.2,3.0,2.9
"Unemployment Rate in Alachua County, FL",4.5,3.9,3.8,3.5,3.6,4.2,4.2,4.1,3.7,3.6,...,2.7,2.5,2.9,3.4,3.4,3.5,3.2,3.5,3.3,3.1
"Unemployment Rate in Worcester County, MA",4.7,4.6,4.2,3.8,3.9,4.2,4.4,4.1,3.8,3.5,...,4.0,3.0,3.2,3.5,3.6,3.5,3.2,3.1,2.9,3.3
"Unemployment Rate in Gloucester County, NJ",5.1,5.2,4.6,4.1,4.4,4.6,5.2,4.9,4.5,4.3,...,4.1,3.5,4.1,4.5,4.8,4.8,4.3,4.2,4.2,4.5
"Unemployment Rate in Lancaster County, PA",4.5,4.4,3.9,3.4,3.7,4.1,4.5,4.4,3.6,3.5,...,2.5,2.2,2.6,3.0,3.1,3.5,2.4,2.5,2.2,2.3

Fetch Median Household income data for counties

In [27]:
df_mh = fred.search("Estimate of Median Household Income for")
#unemployment.columns
display(df_mh)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
MEHOINUSA646N,MEHOINUSA646N,2024-10-30,2024-10-30,Median Household Income in the United States,1984-01-01,2023-01-01,Annual,A,Current Dollars,Current $,Not Seasonally Adjusted,NSA,2024-09-11 09:45:03-05:00,72,Household data are collected as of March. As ...
MEHOINUSCAA646N,MEHOINUSCAA646N,2024-10-30,2024-10-30,Median Household Income in California,1984-01-01,2023-01-01,Annual,A,Current Dollars,Current $,Not Seasonally Adjusted,NSA,2024-09-11 09:45:03-05:00,56,Household data are collected as of March. As ...
MHICA06037A052NCEN,MHICA06037A052NCEN,2024-10-30,2024-10-30,Estimate of Median Household Income for Los An...,1989-01-01,2022-01-01,Annual,A,Dollars,$,Not Seasonally Adjusted,NSA,2023-12-14 12:51:03-06:00,39,The U.S. Census Bureau provides annual estimat...
MHICA06073A052NCEN,MHICA06073A052NCEN,2024-10-30,2024-10-30,Estimate of Median Household Income for San Di...,1989-01-01,2022-01-01,Annual,A,Dollars,$,Not Seasonally Adjusted,NSA,2023-12-14 12:51:03-06:00,36,The U.S. Census Bureau provides annual estimat...
MHICA06075A052NCEN,MHICA06075A052NCEN,2024-10-30,2024-10-30,Estimate of Median Household Income for San Fr...,1989-01-01,2022-01-01,Annual,A,Dollars,$,Not Seasonally Adjusted,NSA,2023-12-14 12:51:04-06:00,35,The U.S. Census Bureau provides annual estimat...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MHIWV54075A052NCEN,MHIWV54075A052NCEN,2024-10-30,2024-10-30,Estimate of Median Household Income for Pocaho...,1989-01-01,2022-01-01,Annual,A,Dollars,$,Not Seasonally Adjusted,NSA,2023-12-14 13:07:47-06:00,2,The U.S. Census Bureau provides annual estimat...
MHICIUBKY21011A052NCEN,MHICIUBKY21011A052NCEN,2024-10-30,2024-10-30,90% Confidence Interval Upper Bound of Estimat...,1989-01-01,2022-01-01,Annual,A,Dollars,$,Not Seasonally Adjusted,NSA,2023-12-14 13:10:45-06:00,2,The U.S. Census Bureau provides annual estimat...
MHIKY21115A052NCEN,MHIKY21115A052NCEN,2024-10-30,2024-10-30,Estimate of Median Household Income for Johnso...,1989-01-01,2022-01-01,Annual,A,Dollars,$,Not Seasonally Adjusted,NSA,2023-12-14 13:50:55-06:00,2,The U.S. Census Bureau provides annual estimat...
MHIMS28127A052NCEN,MHIMS28127A052NCEN,2024-10-30,2024-10-30,Estimate of Median Household Income for Simpso...,1989-01-01,2022-01-01,Annual,A,Dollars,$,Not Seasonally Adjusted,NSA,2023-12-14 12:50:22-06:00,2,The U.S. Census Bureau provides annual estimat...
MHIAL01007A052NCEN,MHIAL01007A052NCEN,2024-10-30,2024-10-30,Estimate of Median Household Income for Bibb C...,1989-01-01,2022-01-01,Annual,A,Dollars,$,Not Seasonally Adjusted,NSA,2023-12-14 13:12:40-06:00,2,The U.S. Census Bureau provides annual estimat...

In [41]:
df_mh2 = df_mh[df_mh['title'].str.contains('Estimate of Median Household Income for')]
#df_mh3 = df_mh2[df_mh2['frequency'].str.startswith('Monthly')]
df_mh4 = df_mh2[df_mh2['title'].str.contains('County')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
median_income_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_mh4.index:
    #display(series_id)
    median_income_by_county[df_mh4.title[series_id]] = fred.get_series(series_id)
    median_income_by_county[df_mh4.title[series_id]] = median_income_by_county[df_mh4.title[series_id]].dropna()
     
    #display(unemployment_by_county[series_id])
    #print(median_income_by_county[df_mh4.title[series_id]])
    filt = median_income_by_county[df_mh4.title[series_id]].index > "2016-01-01"
    median_income_by_county[df_mh4.title[series_id]] = median_income_by_county[df_mh4.title[series_id]][filt]
    count += 1
    print(count)
    #filt2 = median_income_by_county[df_mh4.title[series_id]].index < "2024-01-01"
    #median_income_by_county[df_mh4.title[series_id]] = median_income_by_county[df_mh4.title[series_id]][filt2]
    #print(median_income_by_county[df_mh4.title[series_id]].index)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855

URLError: <urlopen error [Errno 54] Connection reset by peer>

In [44]:
median_income_by_county = pd.DataFrame(median_income_by_county).T
display(median_income_by_county)
median_income_by_county.T.to_csv('./data/median_income_by_county.csv', index=True)

,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01
"Estimate of Median Household Income for Los Angeles County, CA",64912.0,67986.0,72721.0,75624.0,77356.0,82455.0
"Estimate of Median Household Income for San Diego County, CA",76048.0,78777.0,83576.0,87126.0,90756.0,98365.0
"Estimate of Median Household Income for San Francisco County/City, CA",109601.0,110601.0,121795.0,121722.0,119776.0,135366.0
"Estimate of Median Household Income for Orange County, CA",86031.0,89373.0,95761.0,98786.0,100210.0,106047.0
"Estimate of Median Household Income for Miami-Dade County, FL",49758.0,52043.0,54991.0,59259.0,58905.0,66952.0
...,...,...,...,...,...,...
"Estimate of Median Household Income for Posey County, IN",65617.0,68162.0,68435.0,63801.0,74102.0,75907.0
"90% Confidence Interval Lower Bound of Estimate of Median Household Income for Okmulgee County, OK",40388.0,39357.0,38106.0,45905.0,41701.0,42883.0
"Estimate of Median Household Income for Taylor County, FL",41557.0,42307.0,42987.0,45527.0,47083.0,48482.0
"Estimate of Median Household Income for Yuba County, CA",53822.0,47504.0,56607.0,56278.0,60764.0,63626.0
"Estimate of Median Household Income for Kalamazoo County, MI",56199.0,55881.0,56739.0,63279.0,62476.0,69689.0

homeownership ratio for each county data

In [45]:
df_ho = fred.search(" Homeownership Rate (5-year estimate) for")
#unemployment.columns
display(df_ho)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
HOWNRATEACS006037,HOWNRATEACS006037,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for Los A...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:14:02-06:00,17,The homeownership rate is computed by dividing...
HOWNRATEACS006075,HOWNRATEACS006075,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for San F...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:14:04-06:00,14,The homeownership rate is computed by dividing...
HOWNRATEACS048113,HOWNRATEACS048113,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for Dalla...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:13:02-06:00,12,The homeownership rate is computed by dividing...
HOWNRATEACS053033,HOWNRATEACS053033,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for King ...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:13:03-06:00,11,The homeownership rate is computed by dividing...
HOWNRATEACS006073,HOWNRATEACS006073,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for San D...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:14:02-06:00,10,The homeownership rate is computed by dividing...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HOWNRATEACS020005,HOWNRATEACS020005,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for Atchi...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:20:47-06:00,1,The homeownership rate is computed by dividing...
HOWNRATEACS001123,HOWNRATEACS001123,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for Talla...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:21:04-06:00,1,The homeownership rate is computed by dividing...
HOWNRATEACS029015,HOWNRATEACS029015,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for Bento...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:19:29-06:00,1,The homeownership rate is computed by dividing...
HOWNRATEACS051137,HOWNRATEACS051137,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for Orang...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 11:03:51-06:00,1,The homeownership rate is computed by dividing...
HOWNRATEACS001119,HOWNRATEACS001119,2024-10-30,2024-10-30,Homeownership Rate (5-year estimate) for Sumte...,2009-01-01,2022-01-01,Annual,A,Rate,Rate,Not Seasonally Adjusted,NSA,2023-12-07 10:21:04-06:00,1,The homeownership rate is computed by dividing...

In [53]:
df_ho2 = df_ho[df_ho['title'].str.contains('County')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
homeowner_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_ho2.index:
    #display(series_id)
    homeowner_by_county[df_ho2.title[series_id]] = fred.get_series(series_id)
    homeowner_by_county[df_ho2.title[series_id]] = homeowner_by_county[df_ho2.title[series_id]].dropna()
    filt = homeowner_by_county[df_ho2.title[series_id]].index > "2016-01-01"
    homeowner_by_county[df_ho2.title[series_id]] = homeowner_by_county[df_ho2.title[series_id]][filt]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956

In [54]:
homeowner_by_county = pd.DataFrame(homeowner_by_county).T
display(homeowner_by_county)
homeowner_by_county.T.to_csv('./data/homeowner_by_county.csv', index=True)

,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01
"Homeownership Rate (5-year estimate) for Los Angeles County, CA",48.613636,48.629000,48.719108,49.172646,49.501119,49.697792
"Homeownership Rate (5-year estimate) for San Francisco County/city, CA",43.385844,43.741731,43.614863,43.815168,43.871227,44.440457
"Homeownership Rate (5-year estimate) for Dallas County, TX",54.029580,53.766805,53.776987,54.398476,54.834290,55.122135
"Homeownership Rate (5-year estimate) for King County, WA",61.423713,61.411354,61.373637,61.181927,61.453990,61.517278
"Homeownership Rate (5-year estimate) for San Diego County, CA",53.346262,53.681324,54.241190,55.291747,55.688410,56.125850
...,...,...,...,...,...,...
"Homeownership Rate (5-year estimate) for Atchison County, KS",70.397448,68.890826,72.293553,74.950784,75.545558,74.000275
"Homeownership Rate (5-year estimate) for Tallapoosa County, AL",70.321648,71.149425,74.010323,74.424038,75.822364,76.430161
"Homeownership Rate (5-year estimate) for Benton County, MO",80.751928,81.918583,80.054094,84.485746,83.476350,84.913659
"Homeownership Rate (5-year estimate) for Orange County, VA",74.562363,75.484129,76.697056,78.458839,79.634649,79.375746
"Homeownership Rate (5-year estimate) for Sumter County, AL",67.835778,69.142952,70.898716,66.479973,66.031773,68.009217

download income inequality ratio

In [56]:
df_ii = fred.search("Income Inequality in")
#unemployment.columns
display(df_ii)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
2020RATIO006037,2020RATIO006037,2024-10-30,2024-10-30,"Income Inequality in Los Angeles County, CA",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:20:02-06:00,25,This data represents the ratio of the mean inc...
2020RATIO036061,2020RATIO036061,2024-10-30,2024-10-30,"Income Inequality in New York County, NY",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:19:02-06:00,18,This data represents the ratio of the mean inc...
2020RATIO006075,2020RATIO006075,2024-10-30,2024-10-30,"Income Inequality in San Francisco County, CA",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:20:02-06:00,13,This data represents the ratio of the mean inc...
2020RATIO012086,2020RATIO012086,2024-10-30,2024-10-30,"Income Inequality in Miami-Dade County, FL",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:20:03-06:00,10,This data represents the ratio of the mean inc...
2020RATIO006083,2020RATIO006083,2024-10-30,2024-10-30,"Income Inequality in Santa Barbara County, CA",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:20:10-06:00,7,This data represents the ratio of the mean inc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020RATIO024001,2020RATIO024001,2024-10-30,2024-10-30,"Income Inequality in Allegany County, MD",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:19:14-06:00,1,This data represents the ratio of the mean inc...
2020RATIO024039,2020RATIO024039,2024-10-30,2024-10-30,"Income Inequality in Somerset County, MD",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:43:19-06:00,1,This data represents the ratio of the mean inc...
2020RATIO055107,2020RATIO055107,2024-10-30,2024-10-30,"Income Inequality in Rusk County, WI",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:23:18-06:00,1,This data represents the ratio of the mean inc...
2020RATIO020099,2020RATIO020099,2024-10-30,2024-10-30,"Income Inequality in Labette County, KS",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:45:49-06:00,1,This data represents the ratio of the mean inc...
2020RATIO030051,2020RATIO030051,2024-10-30,2024-10-30,"Income Inequality in Liberty County, MT",2010-01-01,2022-01-01,Annual,A,Ratio,Ratio,Not Seasonally Adjusted,NSA,2023-12-07 10:42:47-06:00,1,This data represents the ratio of the mean inc...

In [57]:
df_ii2 = df_ii[df_ii['title'].str.contains('County')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
income_inequality_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_ii2.index:
    #display(series_id)
    income_inequality_by_county[df_ii2.title[series_id]] = fred.get_series(series_id)
    income_inequality_by_county[df_ii2.title[series_id]] = income_inequality_by_county[df_ii2.title[series_id]].dropna()
    filt = income_inequality_by_county[df_ii2.title[series_id]].index > "2016-01-01"
    income_inequality_by_county[df_ii2.title[series_id]] = income_inequality_by_county[df_ii2.title[series_id]][filt]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956

In [58]:
income_inequality_by_county = pd.DataFrame(income_inequality_by_county).T
display(income_inequality_by_county)
income_inequality_by_county.T.to_csv('./data/income_inequality_by_county.csv', index=True)

,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01
"Income Inequality in Los Angeles County, CA",18.899063,18.947459,18.914089,18.971363,19.153770,19.515982
"Income Inequality in New York County, NY",43.035232,43.119567,43.802893,44.935319,45.670906,46.870002
"Income Inequality in San Francisco County, CA",26.357964,26.269464,26.187235,26.137220,26.757144,28.077370
"Income Inequality in Miami-Dade County, FL",21.093133,21.086421,20.842835,20.364911,20.007507,20.380604
"Income Inequality in Santa Barbara County, CA",16.112715,15.909430,16.100146,15.970429,16.942567,17.561049
...,...,...,...,...,...,...
"Income Inequality in Allegany County, MD",13.488613,13.893781,13.323035,13.599020,13.702792,15.258905
"Income Inequality in Somerset County, MD",17.713097,16.856176,18.642966,16.601635,17.493538,17.331650
"Income Inequality in Rusk County, WI",11.015298,10.765916,10.126026,9.708588,9.854554,9.543813
"Income Inequality in Labette County, KS",10.441181,10.750762,11.066231,10.807828,11.154287,12.372249
"Income Inequality in Liberty County, MT",19.566818,19.847581,20.191878,22.715687,19.777438,27.528681

fetch Mean Commuting Time for Workers (5-year estimate) data

In [61]:
df_mc = fred.search("Mean Commuting Time for Workers (5-year estimate) in")
#unemployment.columns
display(df_mc)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
B080ACS006037,B080ACS006037,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:20:02-06:00,26,Mean commuting time is calculated by dividing ...
B080ACS036061,B080ACS036061,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:20:03-06:00,20,Mean commuting time is calculated by dividing ...
B080ACS048113,B080ACS048113,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:19:05-06:00,8,Mean commuting time is calculated by dividing ...
B080ACS012086,B080ACS012086,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:20:03-06:00,7,Mean commuting time is calculated by dividing ...
B080ACS053055,B080ACS053055,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:19:04-06:00,4,Mean commuting time is calculated by dividing ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
B080ACS026117,B080ACS026117,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:26:07-06:00,1,Mean commuting time is calculated by dividing ...
B080ACS037041,B080ACS037041,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:23:44-06:00,1,Mean commuting time is calculated by dividing ...
B080ACS012053,B080ACS012053,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:26:21-06:00,1,Mean commuting time is calculated by dividing ...
B080ACS040051,B080ACS040051,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:22:37-06:00,1,Mean commuting time is calculated by dividing ...
B080ACS016083,B080ACS016083,2024-10-30,2024-10-30,Mean Commuting Time for Workers (5-year estima...,2009-01-01,2022-01-01,Annual,A,Minutes,Minutes,Not Seasonally Adjusted,NSA,2023-12-07 11:25:55-06:00,1,Mean commuting time is calculated by dividing ...

In [64]:
df_mc2 = df_mc[df_mc['title'].str.contains('County')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
meancommute_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_mc2.index:
    #display(series_id)
    meancommute_by_county[df_mc2.title[series_id]] = fred.get_series(series_id)
    meancommute_by_county[df_mc2.title[series_id]] = meancommute_by_county[df_mc2.title[series_id]].dropna()
    filt = meancommute_by_county[df_mc2.title[series_id]].index > "2016-01-01"
    meancommute_by_county[df_mc2.title[series_id]] = meancommute_by_county[df_mc2.title[series_id]][filt]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951

In [65]:
meancommute_by_county = pd.DataFrame(meancommute_by_county).T
display(meancommute_by_county)
meancommute_by_county.T.to_csv('./data/meancommute_by_county.csv', index=True)

,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01
"Mean Commuting Time for Workers (5-year estimate) in Los Angeles County, CA",30.877163,31.299032,31.844204,31.747460,31.373927,30.999346
"Mean Commuting Time for Workers (5-year estimate) in New York County, NY",31.807188,32.060998,32.212711,32.101121,32.050289,31.841498
"Mean Commuting Time for Workers (5-year estimate) in Dallas County, TX",27.246287,27.413774,27.666971,27.623922,27.565907,27.267789
"Mean Commuting Time for Workers (5-year estimate) in Miami-Dade County, FL",31.266270,32.206066,32.750831,32.504502,31.986406,31.619502
"Mean Commuting Time for Workers (5-year estimate) in San Juan County, WA",14.944747,15.710702,16.333283,16.458333,16.061565,16.442618
...,...,...,...,...,...,...
"Mean Commuting Time for Workers (5-year estimate) in Montcalm County, MI",30.043306,29.510910,29.449090,29.128634,29.284243,29.803566
"Mean Commuting Time for Workers (5-year estimate) in Chowan County, NC",28.170684,29.327226,29.525443,31.221680,31.093534,30.878266
"Mean Commuting Time for Workers (5-year estimate) in Hernando County, FL",29.598530,30.248311,30.466340,30.361796,29.380218,29.361239
"Mean Commuting Time for Workers (5-year estimate) in Grady County, OK",25.859465,26.188972,26.239481,26.464124,26.513769,26.448978
"Mean Commuting Time for Workers (5-year estimate) in Twin Falls County, ID",17.368078,17.842877,18.276161,19.105574,18.861255,18.885676

fetch percent of population below poverty level

In [66]:
df_pp = fred.search("Percent of Population Below the Poverty Level (5-year estimate) in")
#unemployment.columns
display(df_pp)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
S1701ACS017031,S1701ACS017031,2024-10-31,2024-10-31,Percent of Population Below the Poverty Level ...,2012-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-07 11:20:03-06:00,12,The percentage of population below the poverty...
S1701ACS024510,S1701ACS024510,2024-10-31,2024-10-31,Percent of Population Below the Poverty Level ...,2012-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-07 11:20:03-06:00,7,The percentage of population below the poverty...
S1701ACS006037,S1701ACS006037,2024-10-31,2024-10-31,Percent of Population Below the Poverty Level ...,2012-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-07 11:20:03-06:00,7,The percentage of population below the poverty...
S1701ACS036061,S1701ACS036061,2024-10-31,2024-10-31,Percent of Population Below the Poverty Level ...,2012-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-07 11:20:15-06:00,7,The percentage of population below the poverty...
S1701ACS048303,S1701ACS048303,2024-10-31,2024-10-31,Percent of Population Below the Poverty Level ...,2012-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-07 11:22:53-06:00,5,The percentage of population below the poverty...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PPCIUB5T17TX48083A156NCEN,PPCIUB5T17TX48083A156NCEN,2024-10-31,2024-10-31,90% Confidence Interval Upper Bound of Estimat...,1989-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-14 12:53:41-06:00,1,The U.S. Census Bureau provides annual estimat...
S1701ACS048135,S1701ACS048135,2024-10-31,2024-10-31,Percent of Population Below the Poverty Level ...,2012-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-07 12:23:05-06:00,1,The percentage of population below the poverty...
PPCILB5T17KY21181A156NCEN,PPCILB5T17KY21181A156NCEN,2024-10-31,2024-10-31,90% Confidence Interval Lower Bound of Estimat...,1989-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-14 12:55:43-06:00,1,The U.S. Census Bureau provides annual estimat...
PPCILB5T17OK40041A156NCEN,PPCILB5T17OK40041A156NCEN,2024-10-31,2024-10-31,90% Confidence Interval Lower Bound of Estimat...,1989-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-14 13:31:43-06:00,1,The U.S. Census Bureau provides annual estimat...
PPCILB5T17MS28133A156NCEN,PPCILB5T17MS28133A156NCEN,2024-10-31,2024-10-31,90% Confidence Interval Lower Bound of Estimat...,1989-01-01,2022-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2023-12-14 12:55:38-06:00,1,The U.S. Census Bureau provides annual estimat...

In [68]:
df_pp2 = df_pp[df_pp['title'].str.contains('County')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
poppoverty_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_pp2.index:
    #display(series_id)
    poppoverty_by_county[df_pp2.title[series_id]] = fred.get_series(series_id)
    poppoverty_by_county[df_pp2.title[series_id]] = poppoverty_by_county[df_pp2.title[series_id]].dropna()
    filt = poppoverty_by_county[df_pp2.title[series_id]].index > "2016-01-01"
    poppoverty_by_county[df_pp2.title[series_id]] = poppoverty_by_county[df_pp2.title[series_id]][filt]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975

In [69]:
poppoverty_by_county = pd.DataFrame(poppoverty_by_county).T
display(poppoverty_by_county)
poppoverty_by_county.T.to_csv('./data/poppoverty_by_county.csv', index=True)

,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01
"Percent of Population Below the Poverty Level (5-year estimate) in Cook County, IL",15.9,15.1,14.4,13.7,13.5,13.4
"Percent of Population Below the Poverty Level (5-year estimate) in Los Angeles County, CA",17.0,16.0,14.9,14.2,13.9,13.7
"Percent of Population Below the Poverty Level (5-year estimate) in New York County, NY",17.3,16.6,15.8,15.6,15.6,15.8
"Percent of Population Below the Poverty Level (5-year estimate) in Lubbock County, TX",18.8,18.9,18.9,18.5,17.7,17.2
"Percent of Population Below the Poverty Level (5-year estimate) in Chesterfield County, SC",23.8,22.5,20.7,21.2,20.8,20.3
...,...,...,...,...,...,...
"90% Confidence Interval Upper Bound of Estimate of Percent of Related Children Age 5-17 in Families in Poverty for Coleman County, TX",45.3,37.4,37.8,35.4,38.5,35.5
"Percent of Population Below the Poverty Level (5-year estimate) in Ector County, TX",12.3,11.8,11.9,13.0,14.1,15.8
"90% Confidence Interval Lower Bound of Estimate of Percent of Related Children Age 5-17 in Families in Poverty for Nicholas County, KY",19.4,18.4,16.4,16.0,16.8,15.5
"90% Confidence Interval Lower Bound of Estimate of Percent of Related Children Age 5-17 in Families in Poverty for Delaware County, OK",19.1,23.9,20.8,18.8,18.2,17.3
"90% Confidence Interval Lower Bound of Estimate of Percent of Related Children Age 5-17 in Families in Poverty for Sunflower County, MS",40.5,30.2,35.7,27.8,54.6,30.0

fetch resident population for county

In [70]:
df_rp = fred.search("Resident Population in")
#unemployment.columns
display(df_rp)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
CAPOP,CAPOP,2024-10-31,2024-10-31,Resident Population in California,1900-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-12-19 10:44:01-06:00,47,"Data for ""Resident Population"" from 1900 to pr..."
DFWPOP,DFWPOP,2024-10-31,2024-10-31,Resident Population in Dallas-Fort Worth-Arlin...,2000-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2024-03-14 14:10:01-05:00,42,All observations are July 1 estimates of each ...
FLPOP,FLPOP,2024-10-31,2024-10-31,Resident Population in Florida,1900-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-12-19 10:44:02-06:00,40,"Data for ""Resident Population"" from 1900 to pr..."
TXPOP,TXPOP,2024-10-31,2024-10-31,Resident Population in Texas,1900-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-12-19 10:44:02-06:00,38,"Data for ""Resident Population"" from 1900 to pr..."
NYPOP,NYPOP,2024-10-31,2024-10-31,Resident Population in New York,1900-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-12-19 10:44:02-06:00,34,"Data for ""Resident Population"" from 1900 to pr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WATPOP,WATPOP,2024-10-31,2024-10-31,"Resident Population in Waterloo-Cedar Falls, I...",2000-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2024-03-14 14:10:51-05:00,2,All observations are July 1 estimates of each ...
FDLPOP,FDLPOP,2024-10-31,2024-10-31,"Resident Population in Fond du Lac, WI (MSA)",2000-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2024-03-14 14:10:32-05:00,2,All observations are July 1 estimates of each ...
FMTPOP,FMTPOP,2024-10-31,2024-10-31,"Resident Population in Farmington, NM (MSA)",2000-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2024-03-14 14:10:43-05:00,2,All observations are July 1 estimates of each ...
ANNPOP,ANNPOP,2024-10-31,2024-10-31,Resident Population in Anniston-Oxford-Jackson...,2000-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2024-03-14 14:10:39-05:00,2,All observations are July 1 estimates of each ...
SCLPOP,SCLPOP,2024-10-31,2024-10-31,"Resident Population in State College, PA (MSA)",2000-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2024-03-14 14:10:48-05:00,2,All observations are July 1 estimates of each ...

In [73]:
df_rp2 = df_rp[df_rp['title'].str.contains('County')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
respop_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_rp2.index:
    #display(series_id)
    respop_by_county[df_rp2.title[series_id]] = fred.get_series(series_id)
    respop_by_county[df_rp2.title[series_id]] = respop_by_county[df_rp2.title[series_id]].dropna()
    filt = respop_by_county[df_rp2.title[series_id]].index > "2016-01-01"
    respop_by_county[df_rp2.title[series_id]] = respop_by_county[df_rp2.title[series_id]][filt]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571

In [74]:
respop_by_county = pd.DataFrame(respop_by_county).T
display(respop_by_county)
respop_by_county.T.to_csv('./data/respop_by_county.csv', index=True)

,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01,2023-01-01
"Resident Population in San Francisco County/city, CA",877.471,879.676,878.826,870.518,811.935,807.774,808.988
"Resident Population in Los Angeles County, CA",10092.365,10061.533,10011.602,9992.813,9809.462,9719.765,9663.345
"Resident Population in Miami-Dade County, FL",2709.126,2709.711,2711.612,2695.685,2669.748,2673.056,2686.867
"Resident Population in Louisville-Jefferson County, KY-IN (MSA)",1260.344,1262.810,1266.200,1362.955,1361.424,1361.300,1365.557
"Resident Population in Maricopa County, AZ",4329.227,4405.306,4492.261,4445.059,4499.438,4555.833,4585.871
...,...,...,...,...,...,...,...
"Resident Population in Itawamba County, MS",23.508,23.434,23.351,23.865,23.885,23.971,24.093
"Resident Population in McDowell County, WV",18.517,18.198,17.600,18.935,18.406,17.806,17.439
"Resident Population in Cayuga County, NY",77.495,77.121,76.450,76.147,75.451,74.679,74.485
"Resident Population in Douglas County, CO",336.347,343.780,351.842,360.323,369.783,375.937,383.906
"Resident Population in Lafayette County, AR",6.807,6.684,6.656,6.293,6.159,6.129,6.095

Fetch home price index for county

In [75]:
df_pi = fred.search("All-Transactions House Price Index for")
#unemployment.columns
display(df_pi)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
USSTHPI,USSTHPI,2024-10-31,2024-10-31,All-Transactions House Price Index for the Uni...,1975-01-01,2024-04-01,Quarterly,Q,Index 1980:Q1=100,Index 1980 Q1=100,Not Seasonally Adjusted,NSA,2024-08-27 09:02:02-05:00,75,Estimated using sales prices and appraisal data.
CASTHPI,CASTHPI,2024-10-31,2024-10-31,All-Transactions House Price Index for California,1975-01-01,2024-04-01,Quarterly,Q,Index 1980:Q1=100,Index 1980 Q1=100,Not Seasonally Adjusted,NSA,2024-08-27 09:02:04-05:00,71,Estimated using sales prices and appraisal data.
FLSTHPI,FLSTHPI,2024-10-31,2024-10-31,All-Transactions House Price Index for Florida,1975-01-01,2024-04-01,Quarterly,Q,Index 1980:Q1=100,Index 1980 Q1=100,Not Seasonally Adjusted,NSA,2024-08-27 09:02:04-05:00,65,Estimated using sales prices and appraisal data.
NYSTHPI,NYSTHPI,2024-10-31,2024-10-31,All-Transactions House Price Index for New York,1975-01-01,2024-04-01,Quarterly,Q,Index 1980:Q1=100,Index 1980 Q1=100,Not Seasonally Adjusted,NSA,2024-08-27 09:02:05-05:00,63,Estimated using sales prices and appraisal data.
ATNHPIUS12420Q,ATNHPIUS12420Q,2024-10-31,2024-10-31,All-Transactions House Price Index for Austin-...,1977-04-01,2024-04-01,Quarterly,Q,Index 1995:Q1=100,Index 1995:Q1=100,Not Seasonally Adjusted,NSA,2024-08-27 09:02:06-05:00,57,Estimated using sales prices and appraisal data.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ATNHPIUS23013A,ATNHPIUS23013A,2024-10-31,2024-10-31,All-Transactions House Price Index for Knox Co...,1986-01-01,2023-01-01,Annual,A,Index 2000=100,Index 2000=100,Not Seasonally Adjusted,NSA,2024-03-26 10:03:03-05:00,1,"As stated by the source, these annual county i..."
ATNHPIUS13275A,ATNHPIUS13275A,2024-10-31,2024-10-31,All-Transactions House Price Index for Thomas ...,1986-01-01,2023-01-01,Annual,A,Index 2000=100,Index 2000=100,Not Seasonally Adjusted,NSA,2024-03-26 09:04:40-05:00,1,"As stated by the source, these annual county i..."
ATNHPIUS42073A,ATNHPIUS42073A,2024-10-31,2024-10-31,All-Transactions House Price Index for Lawrenc...,1985-01-01,2023-01-01,Annual,A,Index 2000=100,Index 2000=100,Not Seasonally Adjusted,NSA,2024-03-26 09:03:21-05:00,1,"As stated by the source, these annual county i..."
ATNHPIUS13057A,ATNHPIUS13057A,2024-10-31,2024-10-31,All-Transactions House Price Index for Cheroke...,1976-01-01,2023-01-01,Annual,A,Index 2000=100,Index 2000=100,Not Seasonally Adjusted,NSA,2024-03-26 09:04:44-05:00,1,"As stated by the source, these annual county i..."
ATNHPIUS13131A,ATNHPIUS13131A,2024-10-31,2024-10-31,All-Transactions House Price Index for Grady C...,1992-01-01,2023-01-01,Annual,A,Index 2000=100,Index 2000=100,Not Seasonally Adjusted,NSA,2024-03-26 09:04:43-05:00,1,"As stated by the source, these annual county i..."

In [81]:
df_pi2 = df_pi[df_pi['title'].str.contains('County')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
priceindex_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_pi2.index:
    #display(series_id)
    priceindex_by_county[df_pi2.title[series_id]] = fred.get_series(series_id)
    priceindex_by_county[df_pi2.title[series_id]] = priceindex_by_county[df_pi2.title[series_id]].dropna()
    filt = priceindex_by_county[df_pi2.title[series_id]].index > "2016-01-01"
    priceindex_by_county[df_pi2.title[series_id]] = priceindex_by_county[df_pi2.title[series_id]][filt]
    filt2 = priceindex_by_county[df_pi2.title[series_id]].index < "2024-01-01"
    priceindex_by_county[df_pi2.title[series_id]] = priceindex_by_county[df_pi2.title[series_id]][filt2]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600

In [82]:
priceindex_by_county = pd.DataFrame(priceindex_by_county).T
display(priceindex_by_county)
priceindex_by_county.T.to_csv('./data/priceindex_by_county.csv', index=True)

,2016-04-01,2016-07-01,2016-10-01,2017-01-01,2017-04-01,2017-07-01,2017-10-01,2018-01-01,2018-04-01,2018-07-01,...,2021-07-01,2021-10-01,2022-01-01,2022-04-01,2022-07-01,2022-10-01,2023-01-01,2023-04-01,2023-07-01,2023-10-01
"All-Transactions House Price Index for Los Angeles County, CA",NaN,NaN,NaN,248.16,NaN,NaN,NaN,264.82,NaN,NaN,...,NaN,NaN,362.60,NaN,NaN,NaN,375.20,NaN,NaN,NaN
"All-Transactions House Price Index for Orange County, CA",NaN,NaN,NaN,234.42,NaN,NaN,NaN,246.59,NaN,NaN,...,NaN,NaN,329.37,NaN,NaN,NaN,354.13,NaN,NaN,NaN
"All-Transactions House Price Index for Nassau County-Suffolk County, NY (MSAD)",260.29,263.2,266.33,266.48,272.29,277.7,281.25,284.25,287.97,293.51,...,360.83,370.55,381.38,400.44,406.91,407.11,405.35,414.72,425.7,430.72
"All-Transactions House Price Index for Miami-Dade County, FL",NaN,NaN,NaN,231.10,NaN,NaN,NaN,248.06,NaN,NaN,...,NaN,NaN,373.58,NaN,NaN,NaN,432.30,NaN,NaN,NaN
"All-Transactions House Price Index for Fairfax County, VA",NaN,NaN,NaN,214.83,NaN,NaN,NaN,220.05,NaN,NaN,...,NaN,NaN,278.64,NaN,NaN,NaN,292.73,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"All-Transactions House Price Index for Knox County, ME",NaN,NaN,NaN,158.45,NaN,NaN,NaN,167.94,NaN,NaN,...,NaN,NaN,261.49,NaN,NaN,NaN,308.99,NaN,NaN,NaN
"All-Transactions House Price Index for Thomas County, GA",NaN,NaN,NaN,144.83,NaN,NaN,NaN,150.82,NaN,NaN,...,NaN,NaN,206.39,NaN,NaN,NaN,231.22,NaN,NaN,NaN
"All-Transactions House Price Index for Lawrence County, PA",NaN,NaN,NaN,125.37,NaN,NaN,NaN,130.53,NaN,NaN,...,NaN,NaN,169.97,NaN,NaN,NaN,175.47,NaN,NaN,NaN
"All-Transactions House Price Index for Cherokee County, GA",NaN,NaN,NaN,142.91,NaN,NaN,NaN,156.35,NaN,NaN,...,NaN,NaN,249.86,NaN,NaN,NaN,268.16,NaN,NaN,NaN
"All-Transactions House Price Index for Grady County, GA",NaN,NaN,NaN,122.94,NaN,NaN,NaN,125.24,NaN,NaN,...,NaN,NaN,174.82,NaN,NaN,NaN,193.27,NaN,NaN,NaN

Fetch GDP data for county

In [84]:
df_gdp = fred.search("Gross Domestic Product: All Industries in")
#unemployment.columns
display(df_gdp)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
CANQGSP,CANQGSP,2024-10-31,2024-10-31,Gross Domestic Product: All Industry Total in ...,2018-01-01,2024-04-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted Annual Rate,SAAR,2024-09-27 09:09:01-05:00,43,Information about this release can be found he...
CANGSP,CANGSP,2024-10-31,2024-10-31,Gross Domestic Product: All Industry Total in ...,1997-01-01,2023-01-01,Annual,A,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2024-09-27 09:08:03-05:00,41,Information about this release can be found he...
VAPGDPMA,VAPGDPMA,2024-10-31,2024-10-31,Value Added by Industry: Manufacturing as a Pe...,2018-01-01,2024-04-01,Quarterly,Q,Percent,%,Not Seasonally Adjusted,NSA,2024-09-26 07:34:01-05:00,48,Value added represents the sum of the costs-in...
TXNGSP,TXNGSP,2024-10-31,2024-10-31,Gross Domestic Product: All Industry Total in ...,1997-01-01,2023-01-01,Annual,A,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2024-09-27 09:08:03-05:00,44,Information about this release can be found he...
TXNQGSP,TXNQGSP,2024-10-31,2024-10-31,Gross Domestic Product: All Industry Total in ...,2018-01-01,2024-04-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted Annual Rate,SAAR,2024-09-27 09:09:01-05:00,30,Information about this release can be found he...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FWSTMINQQGSP,FWSTMINQQGSP,2024-10-31,2024-10-31,Chain-Type Quantity Index for Real GDP: Mining...,2018-01-01,2024-04-01,Quarterly,Q,Index 2017=100,Index 2017=100,Seasonally Adjusted,SA,2024-09-27 09:08:24-05:00,3,Information about this release can be found he...
CTMISCPRONGSP,CTMISCPRONGSP,2024-10-31,2024-10-31,Gross Domestic Product: Miscellaneous Professi...,1997-01-01,2023-01-01,Annual,A,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2024-09-27 09:07:17-05:00,3,Information about this release can be found he...
DCAPPLEATHMANQGSP,DCAPPLEATHMANQGSP,2024-10-31,2024-10-31,Chain-Type Quantity Index for Real GDP: Appare...,1997-01-01,2023-01-01,Annual,A,Index 2017=100,Index 2017=100,Not Seasonally Adjusted,NSA,2024-09-27 09:06:14-05:00,3,Information about this release can be found he...
FWSTSECCOMINVNGSP,FWSTSECCOMINVNGSP,2024-10-31,2024-10-31,"Gross Domestic Product: Securities, Commodity ...",1997-01-01,2023-01-01,Annual,A,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2024-09-27 09:07:16-05:00,3,Information about this release can be found he...
CTHSPTLNRSNGSP,CTHSPTLNRSNGSP,2024-10-31,2024-10-31,Gross Domestic Product by Industry: Private In...,1997-01-01,2016-01-01,Annual,A,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2018-05-04 14:33:46-05:00,3,Information about this release can be found he...

In [135]:
df_gdp2 = df_gdp[df_gdp['title'].str.contains('County')]
df_gdp3 = df_gdp2[df_gdp2['title'].str.startswith('Gross Domestic Product: All Industries in')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
gdp_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_gdp3.index:
    #display(series_id)
    gdp_by_county[df_gdp3.title[series_id]] = fred.get_series(series_id)
    gdp_by_county[df_gdp3.title[series_id]] = gdp_by_county[df_gdp3.title[series_id]].dropna()
    filt = gdp_by_county[df_gdp3.title[series_id]].index > "2016-01-01"
    gdp_by_county[df_gdp3.title[series_id]] = gdp_by_county[df_gdp3.title[series_id]][filt]
    filt2 = gdp_by_county[df_gdp3.title[series_id]].index < "2024-01-01"
    gdp_by_county[df_gdp3.title[series_id]] = gdp_by_county[df_gdp3.title[series_id]][filt2]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183

In [136]:
gdp_by_county = pd.DataFrame(gdp_by_county).T
display(gdp_by_county)
gdp_by_county.T.to_csv('./data/gdp_by_county.csv', index=True)

,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01
"Gross Domestic Product: All Industries in Philadelphia County, PA",108863224.0,110895144.0,112625135.0,107609051.0,114416856.0,123064986.0
"Gross Domestic Product: All Industries in Orange County, CA",244438165.0,256068837.0,269080278.0,268778347.0,294339604.0,314177082.0
"Gross Domestic Product: All Industries in New York County, NY",708516749.0,749124139.0,781725866.0,770001330.0,844809734.0,885651810.0
"Gross Domestic Product: All Industries in San Francisco County, CA",172992477.0,189220774.0,207371562.0,217050026.0,251781937.0,252186339.0
"Gross Domestic Product: All Industries in San Diego County, CA",224767520.0,234685540.0,245468318.0,246738140.0,272825696.0,295644871.0
...,...,...,...,...,...,...
"Gross Domestic Product: All Industries in Red Willow County, NE",482725.0,501692.0,540054.0,577959.0,632745.0,700153.0
"Gross Domestic Product: All Industries in Sweet Grass County, MT",217763.0,212892.0,251002.0,286262.0,347818.0,316581.0
"Gross Domestic Product: All Industries in Powder River County, MT",95901.0,101492.0,96402.0,109191.0,192290.0,239778.0
"Gross Domestic Product: All Industries in Ste. Genevieve County, MO",581963.0,630803.0,659043.0,696604.0,781728.0,816264.0
"Gross Domestic Product: All Industries in Yellow Medicine County, MN",447659.0,460421.0,522754.0,544709.0,586313.0,680167.0

Fetch avg home price per county

In [87]:
df_ap = fred.search("Housing Inventory: Average Listing Price in")
#unemployment.columns
display(df_ap)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
AVELISPRI14260,AVELISPRI14260,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price in Bo...,2016-07-01,2024-10-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2024-10-31 16:49:03-05:00,22,The average listing price in a given market du...
AVELISPRI6037,AVELISPRI6037,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price in Lo...,2016-07-01,2024-10-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2024-10-31 16:23:04-05:00,10,The average listing price in a given market du...
AVELISPRIUS,AVELISPRIUS,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price in th...,2016-07-01,2024-10-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2024-10-31 16:51:07-05:00,9,The average listing price in a given market du...
HOSAVGUSM052N,HOSAVGUSM052N,2024-10-31,2024-10-31,Mean Sales Price of Existing Homes (DISCONTINUED),2021-05-01,2022-04-01,Monthly,M,Dollars,$,Not Seasonally Adjusted,NSA,2022-07-20 09:15:40-05:00,7,"The source has discontinued this series, and a..."
AVELISPRI12420,AVELISPRI12420,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price in Au...,2016-07-01,2024-10-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2024-10-31 16:50:09-05:00,6,The average listing price in a given market du...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AVELISPRIYY27420,AVELISPRIYY27420,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price Year-...,2017-07-01,2024-09-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-03 17:13:15-05:00,1,The average listing price in a given market du...
AVELISPRIMM41860,AVELISPRIMM41860,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price Month...,2017-07-01,2024-09-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-03 17:06:04-05:00,1,The average listing price in a given market du...
AVELISPRIMM6059,AVELISPRIMM6059,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price Month...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:27:31-05:00,1,The average listing price in a given market du...
AVELISPRI13113,AVELISPRI13113,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price in Fa...,2016-07-01,2024-09-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2024-10-03 16:59:07-05:00,1,The average listing price in a given market du...
AVELISPRIYY6037,AVELISPRIYY6037,2024-10-31,2024-10-31,Housing Inventory: Average Listing Price Year-...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:27:27-05:00,1,The average listing price in a given market du...

In [93]:
df_ap2 = df_ap[df_ap['title'].str.contains('County')]
df_ap3 = df_ap2[~df_ap2['title'].str.contains('Month')]
df_ap4 = df_ap3[~df_ap3['title'].str.contains('Year')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
avgprice_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_ap4.index:
    #display(series_id)
    avgprice_by_county[df_ap4.title[series_id]] = fred.get_series(series_id)
    avgprice_by_county[df_ap4.title[series_id]] = avgprice_by_county[df_ap4.title[series_id]].dropna()
    filt = avgprice_by_county[df_ap4.title[series_id]].index > "2016-01-01"
    avgprice_by_county[df_ap4.title[series_id]] = avgprice_by_county[df_ap4.title[series_id]][filt]
    filt2 = avgprice_by_county[df_ap4.title[series_id]].index < "2024-01-01"
    avgprice_by_county[df_ap4.title[series_id]] = avgprice_by_county[df_ap4.title[series_id]][filt2]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263

In [94]:
avgprice_by_county = pd.DataFrame(avgprice_by_county).T
display(avgprice_by_county)
avgprice_by_county.T.to_csv('./data/avgprice_by_county.csv', index=True)

,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01,2017-02-01,2017-03-01,2017-04-01,...,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01
"Housing Inventory: Average Listing Price in Los Angeles County, CA",1428493.0,1391764.0,1404420.0,1425019.0,1447883.0,1505766.0,1502122.0,1547192.0,1606274.0,1642583.0,...,2587382.0,2686583.0,2735906.0,2708503.0,2700167.0,2577244.0,2554264.0,2485558.0,2518537.0,2546001.0
"Housing Inventory: Average Listing Price in Mckinley County, NM",154890.0,160693.0,172028.0,168643.0,165395.0,166893.0,165166.0,164305.0,169035.0,184390.0,...,206053.0,233752.0,232676.0,322570.0,322686.0,292257.0,555598.0,332572.0,329716.0,310031.0
"Housing Inventory: Average Listing Price in Kosciusko County, IN",340968.0,336251.0,340010.0,338907.0,311964.0,295479.0,303371.0,336786.0,354138.0,389784.0,...,573533.0,542075.0,557824.0,531011.0,458783.0,430325.0,415551.0,407161.0,402060.0,425786.0
"Housing Inventory: Average Listing Price in Grand Traverse County, MI",408937.0,417256.0,421375.0,420623.0,417797.0,427076.0,432334.0,430747.0,434509.0,418794.0,...,757299.0,751350.0,764912.0,782927.0,756661.0,702430.0,683528.0,686305.0,657929.0,656286.0
"Housing Inventory: Average Listing Price in Miami-Dade County, FL",1015619.0,1006512.0,996423.0,989231.0,995886.0,1004047.0,1014701.0,1016440.0,1021310.0,1018454.0,...,1822678.0,1896226.0,1923776.0,1887691.0,1836306.0,1793364.0,1771410.0,1786407.0,1822253.0,1838269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Housing Inventory: Average Listing Price in Adams County, IL",167456.0,169457.0,169272.0,164673.0,161032.0,159429.0,161843.0,168600.0,174595.0,176553.0,...,208184.0,206313.0,222748.0,212374.0,201843.0,189682.0,203105.0,197592.0,181633.0,178544.0
"Housing Inventory: Average Listing Price in Muskingum County, OH",170539.0,165615.0,168523.0,168275.0,164781.0,167431.0,166913.0,170268.0,171186.0,172082.0,...,250254.0,246778.0,273322.0,304175.0,270844.0,275458.0,268086.0,268935.0,256065.0,254107.0
"Housing Inventory: Average Listing Price in Henderson County, TX",357362.0,359949.0,367256.0,380127.0,373144.0,379946.0,380831.0,372573.0,384730.0,385678.0,...,738874.0,721802.0,749635.0,817138.0,827254.0,772230.0,725259.0,690662.0,670011.0,619554.0
"Housing Inventory: Average Listing Price in Shiawassee County, MI",140011.0,135501.0,130941.0,131175.0,132255.0,135142.0,134600.0,136641.0,145604.0,156379.0,...,221615.0,234710.0,246055.0,269289.0,282604.0,261877.0,257791.0,279977.0,274744.0,271724.0
"Housing Inventory: Average Listing Price in Fayette County, GA",399423.0,402179.0,411178.0,418279.0,413054.0,411182.0,429608.0,433426.0,436562.0,453268.0,...,644836.0,669593.0,635323.0,637415.0,660443.0,655096.0,657270.0,675007.0,687339.0,725111.0

Fetch active listing count per county

In [95]:
df_al = fred.search("Housing Inventory: Active Listing Count in")
#unemployment.columns
display(df_al)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
ACTLISCOUUS,ACTLISCOUUS,2024-10-31,2024-10-31,Housing Inventory: Active Listing Count in the...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,78,The count of active single-family and condo/to...
HOSINVUSM495N,HOSINVUSM495N,2024-10-31,2024-10-31,Existing Home Sales: Housing Inventory,2023-09-01,2024-09-01,Monthly,M,Number of Units,Number of Units,Not Seasonally Adjusted,NSA,2024-10-23 09:16:30-05:00,69,The National Association of Realtors monthly h...
ACTLISCOUFL,ACTLISCOUFL,2024-10-31,2024-10-31,Housing Inventory: Active Listing Count in Flo...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,67,The count of active single-family and condo/to...
ACTLISCOUCA,ACTLISCOUCA,2024-10-31,2024-10-31,Housing Inventory: Active Listing Count in Cal...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,57,The count of active single-family and condo/to...
ACTLISCOU38060,ACTLISCOU38060,2024-10-31,2024-10-31,Housing Inventory: Active Listing Count in Pho...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:44:02-05:00,56,The count of active single-family and condo/to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PRIINCCOUYY46103,PRIINCCOUYY46103,2024-10-31,2024-10-31,Housing Inventory: Price Increased Count Year-...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:39:12-05:00,2,The count of listings which have had their pri...
PRIINCCOU44580,PRIINCCOU44580,2024-10-31,2024-10-31,Housing Inventory: Price Increased Count in St...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:43:06-05:00,2,The count of listings which have had their pri...
PRIINCCOUMM12115,PRIINCCOUMM12115,2024-10-31,2024-10-31,Housing Inventory: Price Increased Count Month...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 17:02:53-05:00,2,The count of listings which have had their pri...
PRIREDCOU11540,PRIREDCOU11540,2024-10-31,2024-10-31,Housing Inventory: Price Reduced Count in Appl...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:50:10-05:00,2,The count of listings which have had their pri...
PRIREDCOU12017,PRIREDCOU12017,2024-10-31,2024-10-31,Housing Inventory: Price Reduced Count in Citr...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:42:08-05:00,2,The count of listings which have had their pri...

In [133]:
df_al2 = df_al[df_al['title'].str.contains('County')]
df_al3 = df_al2[~df_al2['title'].str.contains('Month')]
df_al4 = df_al3[~df_al3['title'].str.contains('Year')]
df_al5 = df_al4[~df_al4['title'].str.contains('Reduced')]
df_al6 = df_al5[~df_al5['title'].str.contains('Increased')]
df_al7 = df_al6[df_al6['title'].str.startswith('Housing Inventory: Active Listing Count in')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
actlist_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_al7.index:
    #display(series_id)
    actlist_by_county[df_al7.title[series_id]] = fred.get_series(series_id)
    actlist_by_county[df_al7.title[series_id]] = actlist_by_county[df_al7.title[series_id]].dropna()
    filt = actlist_by_county[df_al7.title[series_id]].index > "2016-01-01"
    actlist_by_county[df_al7.title[series_id]] = actlist_by_county[df_al7.title[series_id]][filt]
    filt2 = actlist_by_county[df_al7.title[series_id]].index < "2024-01-01"
    actlist_by_county[df_al7.title[series_id]] = actlist_by_county[df_al7.title[series_id]][filt2]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [134]:
actlist_by_county = pd.DataFrame(actlist_by_county).T
display(actlist_by_county)
actlist_by_county.T.to_csv('./data/actlist_by_county.csv', index=True)

,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01,2017-02-01,2017-03-01,2017-04-01,...,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01
"Housing Inventory: Active Listing Count in Miami-Dade County, FL",19331.0,19298.0,19310.0,19628.0,20058.0,20325.0,20306.0,20812.0,20858.0,20691.0,...,9883.0,9393.0,9240.0,9065.0,8915.0,9059.0,9735.0,10450.0,11352.0,11855.0
"Housing Inventory: Active Listing Count in San Diego County, CA",6934.0,6966.0,6718.0,6289.0,5915.0,4993.0,4540.0,4495.0,4663.0,4830.0,...,2067.0,1952.0,2065.0,2284.0,2447.0,2488.0,2622.0,2848.0,2929.0,2619.0
"Housing Inventory: Active Listing Count in Los Angeles County, CA",14257.0,14426.0,14297.0,14130.0,13326.0,11471.0,10580.0,10379.0,10625.0,11038.0,...,7092.0,6805.0,6947.0,7329.0,7634.0,8099.0,8284.0,8862.0,9040.0,8033.0
"Housing Inventory: Active Listing Count in Orange County, CA",7348.0,7338.0,7053.0,6381.0,5711.0,4717.0,4355.0,4456.0,4675.0,5162.0,...,2139.0,2047.0,2113.0,2169.0,2355.0,2425.0,2328.0,2353.0,2379.0,2011.0
"Housing Inventory: Active Listing Count in Sarasota County, FL",3937.0,3809.0,3724.0,3924.0,4306.0,4563.0,4905.0,5156.0,5216.0,4948.0,...,2638.0,2757.0,2708.0,2687.0,2717.0,2782.0,2905.0,3320.0,3814.0,4096.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Housing Inventory: Active Listing Count in Polk County, FL",2932.0,3043.0,3137.0,3192.0,3241.0,3286.0,3200.0,3122.0,3025.0,2889.0,...,2725.0,2680.0,2633.0,2571.0,2561.0,2765.0,3010.0,3307.0,3481.0,3582.0
"Housing Inventory: Active Listing Count in Rockland County, NY",1583.0,1528.0,1472.0,1389.0,1288.0,1189.0,1096.0,1103.0,1128.0,1171.0,...,320.0,326.0,365.0,400.0,418.0,456.0,566.0,466.0,530.0,402.0
"Housing Inventory: Active Listing Count in Sacramento County, CA",2794.0,2968.0,2980.0,2826.0,2451.0,1848.0,1576.0,1485.0,1529.0,1635.0,...,981.0,889.0,950.0,1091.0,1135.0,1223.0,1253.0,1348.0,1363.0,1169.0
"Housing Inventory: Active Listing Count in Frederick County, MD",1181.0,1173.0,1145.0,1114.0,1084.0,911.0,831.0,783.0,838.0,938.0,...,226.0,215.0,229.0,237.0,245.0,242.0,263.0,304.0,305.0,275.0
"Housing Inventory: Active Listing Count in Hays County, TX",791.0,799.0,786.0,762.0,733.0,670.0,624.0,659.0,691.0,719.0,...,904.0,951.0,1003.0,1115.0,1115.0,1140.0,1176.0,1179.0,1127.0,1003.0

Fetch new listing count for county

In [113]:
df_nl = fred.search("Housing Inventory: New Listing Count in")
#unemployment.columns
display(df_nl)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
ACTLISCOUUS,ACTLISCOUUS,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in the...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,78,The count of active single-family and condo/to...
HOSINVUSM495N,HOSINVUSM495N,2024-11-01,2024-11-01,Existing Home Sales: Housing Inventory,2023-09-01,2024-09-01,Monthly,M,Number of Units,Number of Units,Not Seasonally Adjusted,NSA,2024-10-23 09:16:30-05:00,69,The National Association of Realtors monthly h...
ACTLISCOUFL,ACTLISCOUFL,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in Flo...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,67,The count of active single-family and condo/to...
ACTLISCOUCA,ACTLISCOUCA,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in Cal...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,57,The count of active single-family and condo/to...
ACTLISCOU38060,ACTLISCOU38060,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in Pho...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:44:02-05:00,56,The count of active single-family and condo/to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PRIREDCOUMM39860,PRIREDCOUMM39860,2024-11-01,2024-11-01,Housing Inventory: Price Reduced Count Month-O...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:44:08-05:00,2,The count of listings which have had their pri...
PRIREDCOU48245,PRIREDCOU48245,2024-11-01,2024-11-01,Housing Inventory: Price Reduced Count in Jeff...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:26:07-05:00,2,The count of listings which have had their pri...
PRIREDCOUMM40119,PRIREDCOUMM40119,2024-11-01,2024-11-01,Housing Inventory: Price Reduced Count Month-O...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:29:04-05:00,2,The count of listings which have had their pri...
PRIREDCOUMM23031,PRIREDCOUMM23031,2024-11-01,2024-11-01,Housing Inventory: Price Reduced Count Month-O...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:37:03-05:00,2,The count of listings which have had their pri...
PRIREDCOUMM21111,PRIREDCOUMM21111,2024-11-01,2024-11-01,Housing Inventory: Price Reduced Count Month-O...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:38:05-05:00,2,The count of listings which have had their pri...

In [131]:
df_nl2 = df_nl[df_nl['title'].str.contains('County')]
df_nl3 = df_nl2[~df_nl2['title'].str.contains('Month')]
df_nl4 = df_nl3[~df_nl3['title'].str.contains('Year')]
df_nl5 = df_nl4[~df_nl4['title'].str.contains('Reduced')]
df_nl6 = df_nl5[~df_nl5['title'].str.contains('Increased')]
df_nl7 = df_nl6[df_nl6['title'].str.startswith('Housing Inventory: New Listing Count in')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
newlist_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_nl7.index:
    #display(series_id)
    newlist_by_county[df_nl7.title[series_id]] = fred.get_series(series_id)
    newlist_by_county[df_nl7.title[series_id]] = newlist_by_county[df_nl7.title[series_id]].dropna()
    filt = newlist_by_county[df_nl7.title[series_id]].index > "2016-01-01"
    newlist_by_county[df_nl7.title[series_id]] = newlist_by_county[df_nl7.title[series_id]][filt]
    filt2 = newlist_by_county[df_nl7.title[series_id]].index < "2024-01-01"
    newlist_by_county[df_nl7.title[series_id]] = newlist_by_county[df_nl7.title[series_id]][filt2]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38

In [132]:
newlist_by_county = pd.DataFrame(newlist_by_county).T
display(newlist_by_county)
newlist_by_county.T.to_csv('./data/newlist_by_county.csv', index=True)

,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01,2017-02-01,2017-03-01,2017-04-01,...,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01
"Housing Inventory: New Listing Count in Palm Beach County, FL",3500.0,3486.0,3748.0,3516.0,3866.0,3372.0,4528.0,4236.0,4168.0,4156.0,...,3188.0,2876.0,2920.0,2640.0,2592.0,2582.0,2852.0,3154.0,3130.0,2820.0
"Housing Inventory: New Listing Count in Santa Clara County, CA",1408.0,1406.0,1470.0,1172.0,836.0,616.0,886.0,1128.0,1434.0,1660.0,...,998.0,1080.0,1152.0,1040.0,868.0,1072.0,1008.0,920.0,740.0,416.0
"Housing Inventory: New Listing Count in Louisville/jefferson County, KY-IN (CBSA)",2212.0,2058.0,1928.0,1888.0,1574.0,1164.0,1582.0,1684.0,2134.0,2384.0,...,1412.0,1652.0,1674.0,1690.0,1652.0,1606.0,1612.0,1548.0,1418.0,912.0
"Housing Inventory: New Listing Count in Orange County, CA",3984.0,3652.0,3054.0,2940.0,2502.0,1844.0,2862.0,3340.0,3688.0,4088.0,...,1912.0,2152.0,2232.0,2192.0,2080.0,2064.0,1836.0,1818.0,1690.0,1244.0
"Housing Inventory: New Listing Count in San Diego County, CA",4444.0,4372.0,3794.0,3708.0,3072.0,2112.0,3284.0,3572.0,4072.0,4488.0,...,1976.0,2136.0,2264.0,2318.0,2276.0,2116.0,2032.0,2092.0,1886.0,1244.0
"Housing Inventory: New Listing Count in Plymouth County, MA",856.0,796.0,914.0,768.0,586.0,392.0,564.0,690.0,810.0,996.0,...,516.0,476.0,582.0,614.0,476.0,542.0,500.0,512.0,408.0,296.0
"Housing Inventory: New Listing Count in Montgomery County, MD",1300.0,1252.0,1436.0,1224.0,944.0,664.0,918.0,1150.0,1682.0,1780.0,...,940.0,956.0,1064.0,962.0,888.0,822.0,740.0,790.0,738.0,444.0
"Housing Inventory: New Listing Count in Tulsa County, OK",1124.0,1058.0,1016.0,916.0,794.0,552.0,926.0,1192.0,1212.0,1216.0,...,736.0,876.0,792.0,878.0,868.0,754.0,752.0,782.0,706.0,568.0
"Housing Inventory: New Listing Count in Boulder County, CO",548.0,474.0,414.0,364.0,294.0,196.0,372.0,434.0,530.0,580.0,...,380.0,496.0,498.0,528.0,448.0,442.0,428.0,334.0,238.0,164.0
"Housing Inventory: New Listing Count in Charlotte County, FL",620.0,502.0,506.0,576.0,676.0,576.0,734.0,748.0,640.0,568.0,...,896.0,768.0,672.0,664.0,656.0,648.0,688.0,768.0,844.0,688.0
"Housing Inventory: New Listing Count in Albany County, NY",400.0,348.0,316.0,312.0,234.0,184.0,210.0,298.0,314.0,340.0,...,172.0,184.0,258.0,258.0,216.0,256.0,228.0,200.0,192.0,104.0
"Housing Inventory: New Listing Count in Manatee County, FL",836.0,742.0,720.0,896.0,842.0,764.0,1026.0,1022.0,1042.0,892.0,...,1046.0,1020.0,938.0,812.0,880.0,842.0,824.0,970.0,940.0,772.0
"Housing Inventory: New Listing Count in Broward County, FL",4272.0,4192.0,4046.0,3884.0,4084.0,3680.0,4766.0,4806.0,4680.0,4960.0,...,3238.0,3216.0,3186.0,3084.0,3056.0,3198.0,3284.0,3446.0,3212.0,3084.0
"Housing Inventory: New Listing Count in Putnam County, FL",84.0,78.0,62.0,52.0,76.0,64.0,76.0,68.0,80.0,104.0,...,76.0,72.0,68.0,66.0,68.0,98.0,76.0,66.0,44.0,68.0
"Housing Inventory: New Listing Count in Medina County, OH",348.0,272.0,280.0,228.0,196.0,116.0,206.0,234.0,306.0,296.0,...,142.0,188.0,186.0,218.0,204.0,180.0,172.0,202.0,128.0,104.0
"Housing Inventory: New Listing Count in Mcminn County, TN",76.0,66.0,68.0,80.0,32.0,40.0,56.0,50.0,64.0,72.0,...,52.0,68.0,72.0,70.0,68.0,60.0,60.0,62.0,58.0,40.0
"Housing Inventory: New Listing Count in Madera County, CA",196.0,184.0,194.0,152.0,120.0,108.0,128.0,160.0,186.0,172.0,...,120.0,144.0,194.0,164.0,168.0,172.0,208.0,174.0,190.0,80.0
"Housing Inventory: New Listing Count in Catoosa County, GA",112.0,110.0,116.0,124.0,90.0,56.0,74.0,106.0,106.0,128.0,...,86.0,84.0,76.0,74.0,76.0,90.0,80.0,104.0,48.0,56.0
"Housing Inventory: New Listing Count in Carteret County, NC",204.0,188.0,204.0,144.0,174.0,100.0,184.0,236.0,262.0,236.0,...,148.0,136.0,146.0,140.0,128.0,142.0,136.0,126.0,114.0,112.0
"Housing Inventory: New Listing Count in Columbia County, OR",104.0,112.0,88.0,88.0,52.0,44.0,36.0,68.0,96.0,84.0,...,56.0,56.0,68.0,64.0,64.0,66.0,40.0,40.0,44.0,20.0
"Housing Inventory: New Listing Count in San Bernardino County, CA",3452.0,3390.0,2936.0,3072.0,2678.0,1904.0,2564.0,2880.0,3324.0,3544.0,...,1696.0,1960.0,2210.0,2106.0,2188.0,2076.0,1972.0,1920.0,1792.0,1436.0
"Housing Inventory: New Listing Count in Collin County, TX",1952.0,1618.0,1370.0,1304.0,1266.0,832.0,1224.0,1412.0,1738.0,1916.0,...,1342.0,1528.0,1662.0,1690.0,1628.0,1446.0,1188.0,1336.0,1078.0,832.0
"Housing Inventory: New Listing Count in Autauga County, AL",100.0,72.0,70.0,44.0,42.0,44.0,56.0,92.0,86.0,84.0,...,54.0,52.0,64.0,60.0,64.0,64.0,60.0,64.0,44.0,28.0
"Housing Inventory: New Listing Count in St. Johns County, FL",704.0,664.0,670.0,528.0,576.0,524.0,716.0,776.0,844.0,980.0,...,798.0,756.0,812.0,856.0,784.0,842.0,844.0,728.0,584.0,536.0
"Housing Inventory: New Listing Count in Du Page County, IL",1652.0,1400.0,1368.0,1124.0,864.0,604.0,1074.0,1728.0,2034.0,1956.0,...,884.0,1036.0,1060.0,1118.0,1032.0,1006.0,752.0,744.0,692.0,368.0
"Housing Inventory: New Listing Count in Riverside County, CA",4224.0,4192.0,3970.0,4380.0,4036.0,2944.0,3866.0,4136.0,4332.0,4476.0,...,2534.0,2568.0,2818.0,2590.0,2460.0,2508.0,2456.0,2656.0,2530.0,2104.0
"Housing Inventory: New Listing Count in Geauga County, OH",152.0,128.0,106.0,100.0,62.0,40.0,80.0,94.0,152.0,196.0,...,70.0,84.0,92.0,102.0,92.0,78.0,76.0,98.0,60.0,36.0
"Housing Inventory: New Listing Count in Gallatin County, MT",284.0,230.0,174.0,152.0,134.0,124.0,190.0,220.0,266.0,240.0,...,134.0,184.0,248.0,254.0,260.0,218.0,144.0,118.0,98.0,132.0
"Housing Inventory: New Listing Count in Yamhill County, OR",188.0,210.0,210.0,188.0,136.0,104.0,98.0,134.0,146.0,180.0,...,112.0,132.0,158.0,134.0,140.0,148.0,100.0,96.0,80.0,52.0
"Housing Inventory: New Listing Count in Los Angeles County, CA",8672.0,8836.0,7932.0,7780.0,7122.0,4692.0,6754.0,6962.0,8290.0,8776.0,...,4538.0,5244.0,5440.0,5460.0,5320.0,5052.0,5068.0,5190.0,4666.0,3404.0
"Housing Inventory: New Listing Count in Miami-Dade County, FL",3884.0,3916.0,3896.0,3836.0,3874.0,3584.0,4800.0,4518.0,4590.0,4008.0,...,3352.0,3056.0,3078.0,2970.0,3056.0,3322.0,3276.0,3514.0,3324.0,2848.0
"Housing Inventory: New Listing Count in Citrus County, FL",316.0,350.0,358.0,356.0,318.0,272.0,364.0,416.0,396.0,352.0,...,376.0,400.0,362.0,350.0,364.0,352.0,364.0,404.0,408.0,316.0
"Housing Inventory: New Listing Count in Loudoun County, VA",708.0,652.0,652.0,556.0,458.0,264.0,460.0,702.0,916.0,976.0,...,440.0,508.0,486.0,480.0,456.0,428.0,408.0,394.0,302.0,172.0
"Housing Inventory: New Listing Count in Flagler County, FL",308.0,356.0,362.0,224.0,284.0,224.0,346.0,382.0,344.0,376.0,...,414.0,356.0,320.0,360.0,340.0,410.0,324.0,340.0,318.0,220.0
"Housing Inventory: New Listing Count in Brown County, WI",352.0,352.0,266.0,236.0,180.0,148.0,190.0,238.0,292.0,424.0,...,178.0,224.0,248.0,240.0,260.0,276.0,244.0,218.0,174.0,84.0
"Housing Inventory: New Listing Count in Cumberland County, NC",552.0,530.0,482.0,424.0,412.0,372.0,404.0,470.0,542.0,564.0,...,446.0,440.0,454.0,402.0,468.0,486.0,452.0,442.0,386.0,320.0
"Housing Inventory: New Listing Count in Pike County, PA",256.0,246.0,220.0,200.0,138.0,116.0,148.0,160.0,204.0,284.0,...,108.0,144.0,162.0,164.0,160.0,166.0,132.0,120.0,116.0,64.0
"Housing Inventory: New Listing Count in Dane County, WI",728.0,734.0,582.0,540.0,404.0,236.0,438.0,646.0,818.0,944.0,...,494.0,544.0,628.0,646.0,548.0,534.0,468.0,440.0,368.0,204.0

fetch for total listing count for county

In [104]:
df_tl = fred.search("Housing Inventory: Total Listing Count in")
#unemployment.columns
display(df_tl)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
TOTLISCOU6067,TOTLISCOU6067,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count in Sacr...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:23:03-05:00,21,The total of both active listings and pending ...
TOTLISCOU12103,TOTLISCOU12103,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count in Pine...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:41:03-05:00,19,The total of both active listings and pending ...
TOTLISCOU53033,TOTLISCOU53033,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count in King...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:24:02-05:00,18,The total of both active listings and pending ...
TOTLISCOU12021,TOTLISCOU12021,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count in Coll...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:41:04-05:00,14,The total of both active listings and pending ...
TOTLISCOU12095,TOTLISCOU12095,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count in Oran...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:41:04-05:00,13,The total of both active listings and pending ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TOTLISCOUMM53063,TOTLISCOUMM53063,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count Month-O...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:28:45-05:00,1,The total of both active listings and pending ...
TOTLISCOU13057,TOTLISCOU13057,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count in Cher...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 17:02:39-05:00,1,The total of both active listings and pending ...
TOTLISCOU48157,TOTLISCOU48157,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count in Fort...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:36:27-05:00,1,The total of both active listings and pending ...
TOTLISCOU1015,TOTLISCOU1015,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count in Calh...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 17:04:37-05:00,1,The total of both active listings and pending ...
TOTLISCOUMM1015,TOTLISCOUMM1015,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count Month-O...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 17:04:36-05:00,1,The total of both active listings and pending ...

In [129]:
df_tl2 = df_tl[df_tl['title'].str.contains('County')]
df_tl3 = df_tl2[~df_tl2['title'].str.contains('Month')]
df_tl4 = df_tl3[~df_tl3['title'].str.contains('Year')]
df_tl5 = df_tl4[df_tl4['title'].str.startswith('Housing Inventory: Total Listing Count in')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
totallist_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_tl5.index:
    #display(series_id)
    totallist_by_county[df_tl5.title[series_id]] = fred.get_series(series_id)
    totallist_by_county[df_tl5.title[series_id]] = totallist_by_county[df_tl5.title[series_id]].dropna()
    filt = totallist_by_county[df_tl5.title[series_id]].index > "2016-01-01"
    totallist_by_county[df_tl5.title[series_id]] = totallist_by_county[df_tl5.title[series_id]][filt]
    filt2 = totallist_by_county[df_tl5.title[series_id]].index < "2024-01-01"
    totallist_by_county[df_tl5.title[series_id]] = totallist_by_county[df_tl5.title[series_id]][filt2]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501

In [130]:
totallist_by_county = pd.DataFrame(totallist_by_county).T
display(totallist_by_county)
totallist_by_county.T.to_csv('./data/totallist_by_county.csv', index=True)

,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01,2017-02-01,2017-03-01,2017-04-01,...,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01
"Housing Inventory: Total Listing Count in Sacramento County, CA",5800.0,6038.0,6024.0,5726.0,5064.0,4162.0,3457.0,3581.0,3850.0,4138.0,...,2106.0,2099.0,2227.0,2277.0,2334.0,2383.0,2346.0,2325.0,2288.0,2061.0
"Housing Inventory: Total Listing Count in Pinellas County, FL",8666.0,8599.0,8447.0,8586.0,8581.0,8273.0,8215.0,8777.0,8936.0,8853.0,...,5520.0,5543.0,5481.0,5347.0,5270.0,5224.0,5314.0,5872.0,6289.0,6343.0
"Housing Inventory: Total Listing Count in King County, WA",3234.0,3353.0,3328.0,3054.0,2362.0,1788.0,1513.0,1374.0,1485.0,1661.0,...,3606.0,3924.0,4380.0,4615.0,4547.0,4595.0,4584.0,4576.0,4853.0,3835.0
"Housing Inventory: Total Listing Count in Collier County, FL",7124.0,6908.0,6897.0,7162.0,7680.0,8113.0,8677.0,9462.0,9763.0,9731.0,...,5247.0,5217.0,4896.0,4579.0,4322.0,4202.0,4172.0,4516.0,5018.0,5275.0
"Housing Inventory: Total Listing Count in Orange County, FL",8909.0,8796.0,8462.0,8221.0,8061.0,7628.0,7298.0,7670.0,7848.0,8059.0,...,4486.0,4435.0,4477.0,4489.0,4605.0,4695.0,4743.0,4767.0,4764.0,4737.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Housing Inventory: Total Listing Count in Lea County, NM",345.0,353.0,347.0,349.0,357.0,338.0,338.0,348.0,333.0,346.0,...,91.0,81.0,74.0,83.0,87.0,88.0,88.0,92.0,87.0,79.0
"Housing Inventory: Total Listing Count in Eaton County, MI",648.0,636.0,648.0,519.0,485.0,429.0,379.0,353.0,361.0,367.0,...,179.0,168.0,199.0,221.0,244.0,254.0,245.0,256.0,255.0,229.0
"Housing Inventory: Total Listing Count in Cherokee County, GA",2519.0,2319.0,2223.0,2154.0,2075.0,1916.0,1742.0,1796.0,1933.0,2062.0,...,1151.0,1123.0,1171.0,1245.0,1244.0,1206.0,1155.0,1158.0,1149.0,1056.0
"Housing Inventory: Total Listing Count in Fort Bend County, TX",5769.0,5671.0,5280.0,5077.0,4901.0,4442.0,4138.0,4485.0,4880.0,5278.0,...,2999.0,3008.0,3112.0,3325.0,3444.0,3308.0,3262.0,3298.0,3181.0,3020.0
"Housing Inventory: Total Listing Count in Calhoun County, AL",720.0,714.0,676.0,681.0,655.0,633.0,609.0,613.0,621.0,621.0,...,286.0,297.0,317.0,313.0,320.0,313.0,328.0,335.0,328.0,318.0

Fetch Pending Listing count for county

In [121]:
df_pl = fred.search("Housing Inventory: Pending Listing Count in")
#unemployment.columns
display(df_pl)
#unemployment.dtypes
#df_mh['title']

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
ACTLISCOUUS,ACTLISCOUUS,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in the...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,78,The count of active single-family and condo/to...
HOSINVUSM495N,HOSINVUSM495N,2024-11-01,2024-11-01,Existing Home Sales: Housing Inventory,2023-09-01,2024-09-01,Monthly,M,Number of Units,Number of Units,Not Seasonally Adjusted,NSA,2024-10-23 09:16:30-05:00,69,The National Association of Realtors monthly h...
ACTLISCOUFL,ACTLISCOUFL,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in Flo...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,67,The count of active single-family and condo/to...
ACTLISCOUCA,ACTLISCOUCA,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in Cal...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:51:03-05:00,57,The count of active single-family and condo/to...
ACTLISCOU38060,ACTLISCOU38060,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in Pho...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:44:02-05:00,56,The count of active single-family and condo/to...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TOTLISCOUMM53015,TOTLISCOUMM53015,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count Month-O...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:28:47-05:00,1,The total of both active listings and pending ...
ACTLISCOU1089,ACTLISCOU1089,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in Mad...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 17:06:57-05:00,1,The count of active single-family and condo/to...
PENLISCOU49049,PENLISCOU49049,2024-11-01,2024-11-01,Housing Inventory: Pending Listing Count in Ut...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 16:33:43-05:00,1,The count of pending listings in a given marke...
TOTLISCOUMM51059,TOTLISCOUMM51059,2024-11-01,2024-11-01,Housing Inventory: Total Listing Count Month-O...,2017-07-01,2024-10-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2024-10-31 16:32:37-05:00,1,The total of both active listings and pending ...
ACTLISCOU27900,ACTLISCOU27900,2024-11-01,2024-11-01,Housing Inventory: Active Listing Count in Jop...,2016-07-01,2024-10-01,Monthly,M,Level,Level,Not Seasonally Adjusted,NSA,2024-10-31 17:18:22-05:00,1,The count of active single-family and condo/to...

In [127]:
df_pl2 = df_pl[df_pl['title'].str.contains('County')]
df_pl3 = df_pl2[~df_pl2['title'].str.contains('Month')]
df_pl4 = df_pl3[~df_pl3['title'].str.contains('Year')]
df_pl5 = df_pl4[df_pl4['title'].str.startswith('Housing Inventory: Pending Listing Count in')]
#len(df3)
#display(df_mh4.title[1])
#df3['popularity']
#df4.to_csv('raw_data_umemploy.csv', index=False)
pendlist_by_county = {}
count = 0 
#display(df4.title)
for series_id in df_pl5.index:
    #display(series_id)
    pendlist_by_county[df_pl5.title[series_id]] = fred.get_series(series_id)
    pendlist_by_county[df_pl5.title[series_id]] = pendlist_by_county[df_pl5.title[series_id]].dropna()
    filt = pendlist_by_county[df_pl5.title[series_id]].index > "2016-01-01"
    pendlist_by_county[df_pl5.title[series_id]] = pendlist_by_county[df_pl5.title[series_id]][filt]
    filt2 = pendlist_by_county[df_pl5.title[series_id]].index < "2024-01-01"
    pendlist_by_county[df_pl5.title[series_id]] = pendlist_by_county[df_pl5.title[series_id]][filt2]
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [128]:
pendlist_by_county = pd.DataFrame(pendlist_by_county).T
display(pendlist_by_county)
pendlist_by_county.T.to_csv('./data/pendlist_by_county.csv', index=True)

,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01,2017-02-01,2017-03-01,2017-04-01,...,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01
"Housing Inventory: Pending Listing Count in Orange County, CA",2390.0,2411.0,2275.0,2135.0,1950.0,1694.0,1487.0,1846.0,2057.0,2217.0,...,1882.0,1997.0,2015.0,1973.0,1937.0,1953.0,1833.0,1715.0,1578.0,1445.0
"Housing Inventory: Pending Listing Count in Washington County, UT",182.0,167.0,154.0,162.0,163.0,151.0,119.0,150.0,158.0,170.0,...,175.0,192.0,217.0,190.0,174.0,182.0,468.0,479.0,476.0,452.0
"Housing Inventory: Pending Listing Count in Lewis County, WA",1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,93.0,96.0,96.0,78.0,93.0,85.0,76.0,84.0,82.0,63.0
"Housing Inventory: Pending Listing Count in Yavapai County, AZ",614.0,605.0,618.0,593.0,596.0,519.0,500.0,543.0,633.0,684.0,...,468.0,500.0,510.0,517.0,489.0,476.0,446.0,401.0,377.0,347.0
"Housing Inventory: Pending Listing Count in Tarrant County, TX",3889.0,3759.0,3475.0,3193.0,3090.0,2675.0,2379.0,2934.0,3190.0,3614.0,...,2464.0,2746.0,2818.0,2765.0,2713.0,2491.0,2262.0,2123.0,1932.0,1816.0
"Housing Inventory: Pending Listing Count in Pitt County, NC",388.0,372.0,334.0,310.0,311.0,300.0,265.0,305.0,372.0,429.0,...,268.0,292.0,308.0,312.0,287.0,301.0,301.0,251.0,269.0,235.0
"Housing Inventory: Pending Listing Count in Sarasota County, FL",1617.0,1625.0,1573.0,1499.0,1418.0,1342.0,1402.0,1744.0,1971.0,2062.0,...,2136.0,2151.0,2076.0,1819.0,1684.0,1601.0,1465.0,1345.0,1307.0,1214.0
"Housing Inventory: Pending Listing Count in Franklin County, NC",68.0,73.0,78.0,70.0,68.0,59.0,65.0,58.0,67.0,71.0,...,268.0,259.0,260.0,246.0,220.0,213.0,200.0,195.0,177.0,174.0
"Housing Inventory: Pending Listing Count in Chautauqua County, NY",299.0,310.0,322.0,334.0,307.0,253.0,205.0,196.0,215.0,260.0,...,113.0,119.0,119.0,138.0,142.0,158.0,179.0,146.0,129.0,115.0
"Housing Inventory: Pending Listing Count in Genesee County, NY",6.0,7.0,6.0,4.0,5.0,3.0,1.0,1.0,2.0,4.0,...,31.0,36.0,44.0,47.0,61.0,62.0,55.0,58.0,64.0,47.0
"Housing Inventory: Pending Listing Count in Henderson County, NC",278.0,249.0,235.0,224.0,227.0,187.0,156.0,214.0,213.0,229.0,...,222.0,247.0,235.0,243.0,254.0,238.0,241.0,220.0,219.0,201.0
"Housing Inventory: Pending Listing Count in Santa Clara County, CA",1648.0,1705.0,1678.0,1657.0,1478.0,1272.0,831.0,1094.0,1317.0,1537.0,...,804.0,889.0,987.0,947.0,869.0,846.0,847.0,836.0,751.0,585.0
"Housing Inventory: Pending Listing Count in San Diego County, CA",423.0,426.0,431.0,387.0,339.0,312.0,295.0,292.0,297.0,304.0,...,2282.0,2330.0,2268.0,2217.0,2289.0,2225.0,1991.0,1908.0,1753.0,1699.0
"Housing Inventory: Pending Listing Count in Kane County, IL",1507.0,1368.0,1271.0,1178.0,1039.0,903.0,860.0,1066.0,1412.0,1509.0,...,690.0,763.0,902.0,823.0,821.0,826.0,786.0,712.0,632.0,530.0
"Housing Inventory: Pending Listing Count in Manatee County, FL",1284.0,1219.0,1139.0,1077.0,1036.0,982.0,939.0,1195.0,1295.0,1338.0,...,1790.0,1922.0,1874.0,1753.0,1620.0,1508.0,1365.0,1210.0,1094.0,963.0
"Housing Inventory: Pending Listing Count in Sarpy County, NE",657.0,599.0,563.0,515.0,489.0,425.0,377.0,440.0,503.0,618.0,...,497.0,569.0,583.0,547.0,507.0,466.0,445.0,409.0,385.0,384.0
"Housing Inventory: Pending Listing Count in Yolo County, CA",319.0,280.0,251.0,260.0,256.0,214.0,173.0,198.0,239.0,282.0,...,119.0,145.0,151.0,153.0,143.0,130.0,124.0,117.0,106.0,87.0
"Housing Inventory: Pending Listing Count in Whatcom County, WA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,240.0,265.0,280.0,296.0,322.0,310.0,279.0,244.0,238.0,200.0
"Housing Inventory: Pending Listing Count in Honolulu County/city, HI",1106.0,1118.0,1102.0,1030.0,1033.0,930.0,333.0,5.0,5.0,3.0,...,364.0,1104.0,1148.0,1122.0,1063.0,1046.0,1046.0,932.0,877.0,823.0
"Housing Inventory: Pending Listing Count in Saratoga County, NY",922.0,886.0,838.0,807.0,748.0,693.0,630.0,663.0,747.0,820.0,...,552.0,564.0,608.0,682.0,683.0,654.0,609.0,607.0,568.0,508.0
"Housing Inventory: Pending Listing Count in Lubbock County, TX",557.0,481.0,448.0,375.0,390.0,345.0,307.0,415.0,500.0,576.0,...,508.0,614.0,625.0,592.0,595.0,551.0,417.0,425.0,447.0,413.0
"Housing Inventory: Pending Listing Count in Palm Beach County, FL",5863.0,5588.0,5405.0,5054.0,4717.0,4501.0,4380.0,5170.0,5871.0,6112.0,...,4397.0,4425.0,4372.0,3935.0,3639.0,3518.0,3256.0,3039.0,2764.0,2572.0
"Housing Inventory: Pending Listing Count in Will County, IL",2149.0,2020.0,1838.0,1615.0,1456.0,1242.0,1157.0,1486.0,1813.0,2110.0,...,987.0,1088.0,1207.0,1230.0,1205.0,1132.0,1071.0,982.0,847.0,739.0
"Housing Inventory: Pending Listing Count in Hardin County, KY",101.0,90.0,89.0,87.0,91.0,69.0,71.0,93.0,88.0,108.0,...,155.0,180.0,204.0,184.0,160.0,157.0,146.0,136.0,128.0,122.0
"Housing Inventory: Pending Listing Count in Los Angeles County, CA",8296.0,8204.0,7970.0,7595.0,7229.0,6539.0,5489.0,6375.0,7006.0,7597.0,...,4878.0,5196.0,5446.0,5489.0,5397.0,5185.0,4995.0,4771.0,4594.0,4232.0
"Housing Inventory: Pending Listing Count in Denver County, CO",39.0,31.0,39.0,44.0,36.0,33.0,14.0,26.0,35.0,48.0,...,768.0,950.0,1058.0,992.0,956.0,894.0,793.0,766.0,669.0,599.0
"Housing Inventory: Pending Listing Count in Linn County, OR",4.0,3.0,4.0,3.0,1.0,2.0,4.0,2.0,2.0,2.0,...,139.0,155.0,154.0,147.0,174.0,164.0,136.0,128.0,121.0,119.0
"Housing Inventory: Pending Listing Count in Midland County, MI",10.0,8.0,7.0,6.0,4.0,4.0,6.0,5.0,9.0,10.0,...,87.0,95.0,126.0,134.0,136.0,126.0,111.0,112.0,108.0,85.0
"Housing Inventory: Pending Listing Count in Chester County, PA",1563.0,1398.0,988.0,1226.0,1138.0,930.0,906.0,1048.0,1290.0,1547.0,...,656.0,761.0,921.0,930.0,912.0,798.0,717.0,716.0,692.0,613.0
"Housing Inventory: Pending Listing Count in Autauga County, AL",69.0,70.0,54.0,47.0,51.0,47.0,44.0,50.0,71.0,77.0,...,63.0,71.0,85.0,71.0,61.0,41.0,47.0,42.0,39.0,34.0
"Housing Inventory: Pending Listing Count in Pinellas County, FL",3288.0,3218.0,3117.0,3115.0,2936.0,2674.0,2679.0,3174.0,3475.0,3578.0,...,2365.0,2390.0,2361.0,2177.0,2085.0,1996.0,1810.0,1647.0,1526.0,1449.0
"Housing Inventory: Pending Listing Count in Rockdale County, GA",101.0,84.0,87.0,85.0,81.0,84.0,69.0,73.0,86.0,97.0,...,159.0,177.0,164.0,172.0,169.0,142.0,128.0,135.0,143.0,121.0
"Housing Inventory: Pending Listing Count in Utah County, UT",1747.0,1752.0,1603.0,1543.0,1406.0,1273.0,1221.0,1384.0,1644.0,1778.0,...,1410.0,1355.0,1251.0,1209.0,1131.0,1091.0,1040.0,1001.0,924.0,862.0

create county fips file

In [17]:
import pandas as pd

# Define the file path for the original file
file_path = './data/fips.txt'

# Load the data from the file
with open(file_path, 'r') as file:
    lines = file.readlines()

# Process the lines to extract relevant data
state_data = []
county_data = []

state_section = False
county_section = False

for line in lines:
    line = line.strip()
    # Check for state-level section
    if line.startswith("state-level"):
        state_section = True
        county_section = False
        continue
    # Check for county-level section
    if line.startswith("county-level"):
        county_section = True
        state_section = False
        continue
    
    # Extract state-level FIPS code and state name
    if state_section and line:
        parts = line.split()
        state_fips = parts[0]
        state_name = " ".join(parts[1:])
        state_data.append((state_fips, state_name))
    
    # Extract county-level FIPS code and county name
    if county_section and line:
        parts = line.split()
        county_fips = parts[0]
        county_name = " ".join(parts[1:])
        # The state FIPS code is the first two characters of the county FIPS code
        state_fips = county_fips[:2]
        county_data.append((state_fips, county_fips, county_name))

# Create dataframes
state_df = pd.DataFrame(state_data, columns=["state_fips", "state_name"])
county_df = pd.DataFrame(county_data, columns=["state_fips", "county_fips", "county_name"])

# Merge state and county data on state FIPS code
merged_df = pd.merge(county_df, state_df, on="state_fips")

# Rename columns
merged_df.rename(columns={
    "state_fips": "StateCodeFIPS",
    "state_name": "StateName",
    "county_fips": "CountyFIPS",
    "county_name": "CountyName"
}, inplace=True)

# Dictionary mapping state names to their abbreviations
state_abbr_dict = {
    'ALABAMA': 'AL', 'ALASKA': 'AK', 'ARIZONA': 'AZ', 'ARKANSAS': 'AR',
    'CALIFORNIA': 'CA', 'COLORADO': 'CO', 'CONNECTICUT': 'CT', 'DELAWARE': 'DE',
    'DISTRICT OF COLUMBIA': 'DC', 'FLORIDA': 'FL', 'GEORGIA': 'GA', 'HAWAII': 'HI',
    'IDAHO': 'ID', 'ILLINOIS': 'IL', 'INDIANA': 'IN', 'IOWA': 'IA', 'KANSAS': 'KS',
    'KENTUCKY': 'KY', 'LOUISIANA': 'LA', 'MAINE': 'ME', 'MARYLAND': 'MD',
    'MASSACHUSETTS': 'MA', 'MICHIGAN': 'MI', 'MINNESOTA': 'MN', 'MISSISSIPPI': 'MS',
    'MISSOURI': 'MO', 'MONTANA': 'MT', 'NEBRASKA': 'NE', 'NEVADA': 'NV',
    'NEW HAMPSHIRE': 'NH', 'NEW JERSEY': 'NJ', 'NEW MEXICO': 'NM', 'NEW YORK': 'NY',
    'NORTH CAROLINA': 'NC', 'NORTH DAKOTA': 'ND', 'OHIO': 'OH', 'OKLAHOMA': 'OK',
    'OREGON': 'OR', 'PENNSYLVANIA': 'PA', 'RHODE ISLAND': 'RI', 'SOUTH CAROLINA': 'SC',
    'SOUTH DAKOTA': 'SD', 'TENNESSEE': 'TN', 'TEXAS': 'TX', 'UTAH': 'UT',
    'VERMONT': 'VT', 'VIRGINIA': 'VA', 'WASHINGTON': 'WA', 'WEST VIRGINIA': 'WV',
    'WISCONSIN': 'WI', 'WYOMING': 'WY'
}

# Map the 'StateName' column to its abbreviation
merged_df['StateName'] = merged_df['StateName'].map(state_abbr_dict)

# Remove the word "County" from the values in the 'CountyName' column
merged_df['CountyName'] = merged_df['CountyName'].str.replace(" County", "", regex=False)

# Save the final DataFrame to a new CSV file
output_path_final = "./data/countyname.csv"
merged_df.to_csv(output_path_final, index=False)

preprocess unemployment data

In [1]:
import pandas as pd

# Load the unemployment dataset
file_path = './data/unemployment_by_county.csv'
unemployment_data = pd.read_csv(file_path)

# Rotate columns and rows
unemployment_data_rotated = unemployment_data.set_index('Unnamed: 0').transpose()

# Extract County and State Names
county_state_data = unemployment_data_rotated.index.str.extract(r'Unemployment Rate in (.+?), (\w{2})')
county_state_data.columns = ['County', 'State']

# Add extracted columns to the rotated table
unemployment_data_rotated_with_location = unemployment_data_rotated.copy()
unemployment_data_rotated_with_location['County'] = county_state_data['County'].values
unemployment_data_rotated_with_location['State'] = county_state_data['State'].values

# Merge “Unemployment Rate” columns and name as "UnemploymentRate"
unemployment_data_long = unemployment_data_rotated_with_location.reset_index().melt(
    id_vars=['County', 'State'], 
    var_name='Date', 
    value_name='UnemploymentRate'
)

# Revert merged data back to the original wide format
unemployment_data_wide = unemployment_data_long.pivot(index=['County', 'State'], columns='Date', values='UnemploymentRate').reset_index()

# Rename columns and add "RegionType", "State", "StateCodeFIPS", "county_fips"
unemployment_data_wide = unemployment_data_wide.rename(columns={'County': 'RegionName', 'State': 'StateName'})
unemployment_data_wide['RegionType'] = 'county'
unemployment_data_wide['State'] = unemployment_data_wide['StateName']

# Adding State FIPS codes (sample, complete dictionary required)
state_fips_codes = {
    'AL': '01', 'AK': '02', 'AZ': '04', 'AR': '05', 'CA': '06', 'CO': '08', 'CT': '09', 'DE': '10',
    'FL': '12', 'GA': '13', 'HI': '15', 'ID': '16', 'IL': '17', 'IN': '18', 'IA': '19', 'KS': '20',
    'KY': '21', 'LA': '22', 'ME': '23', 'MD': '24', 'MA': '25', 'MI': '26', 'MN': '27', 'MS': '28',
    'MO': '29', 'MT': '30', 'NE': '31', 'NV': '32', 'NH': '33', 'NJ': '34', 'NM': '35', 'NY': '36',
    'NC': '37', 'ND': '38', 'OH': '39', 'OK': '40', 'OR': '41', 'PA': '42', 'RI': '44', 'SC': '45',
    'SD': '46', 'TN': '47', 'TX': '48', 'UT': '49', 'VT': '50', 'VA': '51', 'WA': '53', 'WV': '54',
    'WI': '55', 'WY': '56'
}
unemployment_data_wide['StateCodeFIPS'] = unemployment_data_wide['StateName'].map(state_fips_codes)
unemployment_data_wide['county_fips'] = None  # Placeholder for county FIPS

# Save final data to CSV
output_file_path = './data/filled_unemployment_data_with_fips.csv'
unemployment_data_wide.to_csv(output_file_path, index=False)

add county FIPS code from  county fips code file

In [20]:
import pandas as pd


# Load the original CSV file
file_path = './data/filled_unemployment_data_with_fips.csv'
data = pd.read_csv(file_path)

# Reorder columns as requested
ordered_columns = ["index", "RegionName", "RegionType", "StateName", "State", "StateCodeFIPS", "county_fips"]
remaining_columns = [col for col in data.columns if col not in ordered_columns]
final_columns = ordered_columns + remaining_columns
data = data[final_columns]

# Create new "CountyName" column by modifying "RegionName" values
data['CountyName'] = data['RegionName'].str.replace(" County", "", regex=True)

# Reorder to place "CountyName" right after "RegionName"
columns_reordered = data.columns.tolist()
columns_reordered.insert(columns_reordered.index("RegionName") + 1, columns_reordered.pop(columns_reordered.index("CountyName")))
data = data[columns_reordered]

# Remove "/City" from the "CountyName" values
data['CountyName'] = data['CountyName'].str.replace("/City", "", regex=True)

# Load the countyname.csv file to get FIPS codes
county_fips_path = './data/countyname.csv'
county_fips_data = pd.read_csv(county_fips_path)

# Merge the two dataframes on 'CountyName' and 'StateName' to fill 'county_fips' from 'CountyFIPS'
data = data.merge(county_fips_data[['CountyFIPS', 'CountyName', 'StateName']], on=['CountyName', 'StateName'], how='left')

# Fill in 'county_fips' column with values from 'CountyFIPS', then convert to integer
data['county_fips'] = data['CountyFIPS'].fillna(data['county_fips']).astype('Int64')
data.drop(columns=['CountyFIPS'], inplace=True)

# Save the modified data to a new CSV file
output_path = './data/modified_unemployment_per_county.csv'
data.to_csv(output_path, index=False)

#Need to manually add FIPS code for Jefferson(21111), Miami-Dade(12025), Prince George's().

preprocess median income data

In [22]:
# Reload the main data and county data for clarity and re-run merge process with updated checks
# Load the original rotated data and county file again

# Load the main data
file_path = './data/median_income_by_county.csv'
data = pd.read_csv(file_path)
rotated_data = data.T
rotated_data.reset_index(inplace=True)
rotated_data.columns = ['Attribute', '2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01']

# Extract "County" and "State" from Attribute
rotated_data[['County', 'State']] = rotated_data['Attribute'].str.extract(r'for (.*), (\w{2})')
rotated_data.rename(columns={'County': 'RegionName'}, inplace=True)
rotated_data.insert(2, 'RegionType', 'county')
rotated_data.insert(3, 'StateName', rotated_data['State'])
rotated_data['CountyName'] = rotated_data['RegionName'].replace(
    {' County': '', 'Miami-': '', 'Louisville-': '', '/City': '', '/city': '', "Prince George's": "Prince George"}, regex=True
)
reordered_data = rotated_data[['Attribute', 'RegionName', 'RegionType', 'CountyName', 'StateName', 'State', '2017-01-01', '2018-01-01', 
                               '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01']]

# Load county name file
county_file_path = './data/countyname.csv'
county_data = pd.read_csv(county_file_path)

# Merge reordered_data with county_data based on StateName and CountyName
merged_data = reordered_data.merge(
    county_data[['StateCodeFIPS', 'CountyFIPS', 'CountyName', 'StateName']],
    how='left',
    on=['StateName', 'CountyName']
)

# Assign merged FIPS values to new columns and remove unnecessary columns if exists
merged_data['StateCodeFIPS'] = merged_data['StateCodeFIPS']
merged_data['county_fips'] = merged_data['CountyFIPS']
merged_data = merged_data.drop(columns=['CountyFIPS'], errors='ignore')

# Convert FIPS columns to integer type and reorder columns
merged_data["StateCodeFIPS"] = merged_data["StateCodeFIPS"].astype("Int64")
merged_data["county_fips"] = merged_data["county_fips"].astype("Int64")
columns_order = ['Attribute', 'RegionName', 'RegionType', 'CountyName', 'StateName', 'State', 
                 'StateCodeFIPS', 'county_fips', '2017-01-01', '2018-01-01', '2019-01-01', 
                 '2020-01-01', '2021-01-01', '2022-01-01']
final_data = merged_data[columns_order]

# Save final data
output_file_path = './data/modified_median_income_per_county.csv'
final_data.to_csv(output_file_path, index=False)

output_file_path
#remove the 1st row manually, add missing 2022 data with 2021 data for some rows

'./data/modified_median_income_per_county.csv'

preprocess homeownership per county

In [24]:
# Reload the main data and county data for clarity and re-run merge process with updated checks
# Load the original rotated data and county file again

# Load the main data
file_path = './data/homeowner_by_county.csv'
data = pd.read_csv(file_path)
rotated_data = data.T
rotated_data.reset_index(inplace=True)
rotated_data.columns = ['Attribute', '2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01']

# Extract "County" and "State" from Attribute
rotated_data[['County', 'State']] = rotated_data['Attribute'].str.extract(r'for (.*), (\w{2})')
rotated_data.rename(columns={'County': 'RegionName'}, inplace=True)
rotated_data.insert(2, 'RegionType', 'county')
rotated_data.insert(3, 'StateName', rotated_data['State'])
rotated_data['CountyName'] = rotated_data['RegionName'].replace(
    {' County': '', 'Miami-': '', 'Louisville-': '', '/City': '', '/city': '', "Prince George's": "Prince George"}, regex=True
)
reordered_data = rotated_data[['Attribute', 'RegionName', 'RegionType', 'CountyName', 'StateName', 'State', '2017-01-01', '2018-01-01', 
                               '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01']]

# Load county name file
county_file_path = './data/countyname.csv'
county_data = pd.read_csv(county_file_path)

# Merge reordered_data with county_data based on StateName and CountyName
merged_data = reordered_data.merge(
    county_data[['StateCodeFIPS', 'CountyFIPS', 'CountyName', 'StateName']],
    how='left',
    on=['StateName', 'CountyName']
)

# Assign merged FIPS values to new columns and remove unnecessary columns if exists
merged_data['StateCodeFIPS'] = merged_data['StateCodeFIPS']
merged_data['county_fips'] = merged_data['CountyFIPS']
merged_data = merged_data.drop(columns=['CountyFIPS'], errors='ignore')

# Convert FIPS columns to integer type and reorder columns
merged_data["StateCodeFIPS"] = merged_data["StateCodeFIPS"].astype("Int64")
merged_data["county_fips"] = merged_data["county_fips"].astype("Int64")
columns_order = ['Attribute', 'RegionName', 'RegionType', 'CountyName', 'StateName', 'State', 
                 'StateCodeFIPS', 'county_fips', '2017-01-01', '2018-01-01', '2019-01-01', 
                 '2020-01-01', '2021-01-01', '2022-01-01']
final_data = merged_data[columns_order]

# Save final data
output_file_path = './data/modified_homeowner_per_county.csv'
final_data.to_csv(output_file_path, index=False)

output_file_path
#remove the 1st row manually, add missing 2022 data with 2021 data for some rows

'./data/modified_homeowner_per_county.csv'

preprocess income inequality per county

In [31]:
import pandas as pd

# Load the original CSV file
file_path = './data/income_inequality_by_county.csv'
data = pd.read_csv(file_path)

# Transpose the data to swap rows and columns
rotated_data = data.set_index('Unnamed: 0').transpose()

# Separate county and state names into two columns
rotated_data.reset_index(inplace=True)
rotated_data[['County', 'State']] = rotated_data['index'].str.extract(r'Income Inequality in (.+) County, (\w{2})')

# Keep the original first column
rotated_data['Original County and State'] = 'Income Inequality in ' + rotated_data['County'] + ' County, ' + rotated_data['State']
columns = ['Original County and State'] + [col for col in rotated_data.columns if col != 'Original County and State']
rotated_data = rotated_data[columns]

# Rename "Original County and State" to "index"
rotated_data.rename(columns={"Original County and State": "index"}, inplace=True)

# Reorder "County" and "State" next to "index"
columns = ["index", "County", "State"] + [col for col in rotated_data.columns if col not in ["index", "County", "State"]]
rotated_data = rotated_data[columns]

# Remove "Miami-" prefix from "County" column
rotated_data['County'] = rotated_data['County'].str.replace('Miami-', '', regex=False)

# Rename "County" to "CountyName"
rotated_data.rename(columns={"County": "CountyName"}, inplace=True)

# Copy "State" to a new column "StateName"
rotated_data['StateName'] = rotated_data['State']

# Reorder "StateName" next to "CountyName"
columns = ["index", "CountyName", "StateName", "State"] + [col for col in rotated_data.columns if col not in ["index", "CountyName", "StateName", "State"]]
rotated_data = rotated_data[columns]

# Add a new "RegionName" column next to "index" and populate it with values from "CountyName"
rotated_data.insert(1, "RegionName", rotated_data['CountyName'] + " County")

# Add a "RegionType" column next to "RegionName" and fill with "county"
rotated_data.insert(2, "RegionType", "county")

# Load FIPS codes from the uploaded "countyname.csv"
countyname_path = './data/countyname.csv'
countyname_data = pd.read_csv(countyname_path)

# Merge FIPS codes from countyname_data into rotated_data
rotated_data = rotated_data.merge(
    countyname_data[['StateCodeFIPS', 'CountyFIPS', 'CountyName', 'StateName']],
    how='left',
    left_on=['CountyName', 'StateName'],
    right_on=['CountyName', 'StateName']
)

# Populate FIPS code columns in the main dataset and rename for clarity
rotated_data['StateCodeFIPS'] = rotated_data['StateCodeFIPS']
rotated_data['county_fips'] = rotated_data['CountyFIPS']
rotated_data.drop(columns=['CountyFIPS'], inplace=True)

# Reorder the columns based on the specified order
columns_order = [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
] + [col for col in rotated_data.columns if col not in [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
]]
rotated_data = rotated_data[columns_order]

# Save the reordered dataset to a CSV file
output_path = './data/modified_income_inequality_per_county.csv'
rotated_data.to_csv(output_path, index=False)

# Provide the link for download
output_path

'./data/modified_income_inequality_per_county.csv'

mean commuting time per county

In [53]:
import pandas as pd


# Load the CSV file to inspect its contents
file_path = './data/meancommute_by_county.csv'
data = pd.read_csv(file_path)

# Transpose the dataframe to rotate rows and columns
rotated_data = data.transpose()

# Reset the header using the first row as column names, and drop the first row
rotated_data.columns = rotated_data.iloc[0]
rotated_data = rotated_data.drop(rotated_data.index[0])

# Reset the index and rename the first column as 'County'
rotated_data.reset_index(inplace=True)
rotated_data = rotated_data.rename(columns={'index': 'County'})

# Set the first column as the index and rename it to 'Index'
rotated_data.set_index('County', inplace=True)
rotated_data.index.name = 'index'

# Split the index into "County" and "State" based on the last comma in each entry
rotated_data.index = rotated_data.index.str.split(', ')
rotated_data[['County', 'State']] = pd.DataFrame(rotated_data.index.tolist(), index=rotated_data.index)

# Move the new columns to the front
rotated_data.reset_index(drop=True, inplace=True)
rotated_data = rotated_data[['County', 'State'] + [col for col in rotated_data.columns if col not in ['County', 'State']]]

# Copy the "County" column to a new column named "Index"
rotated_data['index'] = rotated_data['County']

# Move the "Index" column to the first position
rotated_data = rotated_data[['index'] + [col for col in rotated_data.columns if col != 'index']]

# Remove the prefix from each entry in the "County" column
rotated_data['County'] = rotated_data['County'].str.replace("Mean Commuting Time for Workers (5-year estimate) in ", "", regex=False)

# Remove "County" and "Miami-" from each entry in the "County" column
rotated_data['County'] = rotated_data['County'].str.replace(" County", "", regex=False)
rotated_data['County'] = rotated_data['County'].str.replace("Miami-", "", regex=False)

# Rename "Prince George's" to "Prince George" in the "County" column
rotated_data['County'] = rotated_data['County'].str.replace("Prince George's", "Prince George", regex=False)

# Rename "County" to "CountyName"
rotated_data = rotated_data.rename(columns={'County': 'CountyName'})

# Copy "State" to a new column named "StateName" and place it to the left of "State"
rotated_data.insert(rotated_data.columns.get_loc('State'), 'StateName', rotated_data['State'])

# Copy "CountyName" to a new column named "RegionName" and place it to the left of "CountyName"
rotated_data.insert(rotated_data.columns.get_loc('CountyName'), 'RegionName', rotated_data['CountyName'])

# Append "County" to each value in the "RegionName" column
rotated_data['RegionName'] = rotated_data['RegionName'] + " County"

# Add a new column "RegionType" right to "RegionName" and fill it with the value "county"
rotated_data.insert(rotated_data.columns.get_loc('RegionName') + 1, 'RegionType', 'county')

# Add two new columns "StateCodeFIPS" and "county_fips" and place them right next to the "State" column
#rotated_data.insert(rotated_data.columns.get_loc('State') + 1, 'StateCodeFIPS', '')
#rotated_data.insert(rotated_data.columns.get_loc('State') + 2, 'county_fips', '')

# Load FIPS codes from the uploaded "countyname.csv"
countyname_path = './data/countyname.csv'
countyname_data = pd.read_csv(countyname_path)
#print(countyname_data[['CountyName', 'StateName', 'StateCodeFIPS', 'CountyFIPS']].head())
# Merge FIPS codes from countyname_data into rotated_data
rotated_data = rotated_data.merge(
    countyname_data[['StateCodeFIPS', 'CountyFIPS', 'CountyName', 'StateName']],
    how='left',
    left_on=['CountyName', 'StateName'],
    right_on=['CountyName', 'StateName']
)

# Debugging output to check the columns after merge
#print(rotated_data.columns)
#print(rotated_data[['CountyName', 'StateName', 'StateCodeFIPS', 'CountyFIPS']].head())

# Populate FIPS code columns in the main dataset and rename for clarity
rotated_data['StateCodeFIPS'] = rotated_data['StateCodeFIPS']
rotated_data['county_fips'] = rotated_data['CountyFIPS']
rotated_data.drop(columns=['CountyFIPS'], inplace=True)
# Debug output for merged columns
#print(rotated_data[['StateCodeFIPS', 'county_fips']].head())


# Reorder the columns based on the specified order
columns_order = [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
] + [col for col in rotated_data.columns if col not in [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
]]
rotated_data = rotated_data[columns_order]

# Save the reordered dataset to a CSV file
output_path = './data/modified_mean_commutetime_per_county.csv'
rotated_data.to_csv(output_path, index=False)

# Provide the link for download
output_path

'./data/modified_mean_commutetime_per_county.csv'

percent of population below poverty

In [69]:
import pandas as pd


# Load the initial dataset
file_path = './data/poppoverty_by_county.csv'
data = pd.read_csv(file_path)

# Filter columns that start with "Percent of Population Below the Poverty Level (5-year estimate)"
poverty_columns = [col for col in data.columns if col.startswith("Percent of Population Below the Poverty Level (5-year estimate)")]

# Create a new DataFrame with only the selected columns and the original first column
first_column_name = data.columns[0]
poverty_data_with_first_column = pd.concat([data[[first_column_name]], data[poverty_columns]], axis=1)

# Transpose the DataFrame to switch rows and columns
rotated_data = poverty_data_with_first_column.T
rotated_data.reset_index(inplace=True)
rotated_data.columns = rotated_data.iloc[0]  # Set the first row as the header
rotated_data = rotated_data.drop(0)  # Drop the first row which is now the header

# Rename "Unnamed: 0" to "index"
rotated_data.rename(columns={"Unnamed: 0": "index"}, inplace=True)

# Separate "County" and "State" information
rotated_data[['County', 'State']] = rotated_data['index'].str.extract(r'^(.*?),\s*(\w{2})$')
rotated_data = rotated_data[['index', 'County', 'State'] + [col for col in rotated_data.columns if col not in ['index', 'County', 'State']]]

# Remove "Percent of Population Below the Poverty Level (5-year estimate) in" from "County" column
rotated_data['County'] = rotated_data['County'].str.replace("Percent of Population Below the Poverty Level (5-year estimate) in ", "", regex=False)

# Rename "County" to "CountyName" and copy to "RegionName"
rotated_data.rename(columns={"County": "CountyName"}, inplace=True)
rotated_data['RegionName'] = rotated_data['CountyName']

# Add "RegionType" column and fill with "county"
rotated_data['RegionType'] = "county"

# Remove terms like "County", "/City", etc. from "CountyName"
rotated_data['CountyName'] = (
    rotated_data['CountyName']
    .str.replace(" County", "", regex=False)
    .str.replace("/city", "", regex=False)
    .str.replace("/City", "", regex=False)
    .str.replace("Miami-", "", regex=False)
)

# Add placeholders for "StateCodeFIPS" and "county_fips" columns
rotated_data['StateCodeFIPS'] = None
rotated_data['county_fips'] = None

# Copy "State" to "StateName"
rotated_data['StateName'] = rotated_data['State']

#print(rotated_data[['CountyName', 'StateName', 'StateCodeFIPS', 'county_fips']].head())

# Load the countyname.csv file for FIPS codes
countyname_data = pd.read_csv('./data/countyname.csv')

# Merge FIPS codes from countyname_data into rotated_data
rotated_data = rotated_data.merge(
    countyname_data[['StateCodeFIPS', 'CountyFIPS', 'CountyName', 'StateName']],
    how='left',
    left_on=['CountyName', 'StateName'],
    right_on=['CountyName', 'StateName']
)

# Debugging output to check the columns after merge
#print(rotated_data.columns)
#print(rotated_data[['CountyName', 'StateName', 'StateCodeFIPS_y', 'CountyFIPS']].head())


# Rename "CountyFIPS" to "county_fips"
rotated_data['StateCodeFIPS'] = rotated_data['StateCodeFIPS_y']
rotated_data['county_fips'] = rotated_data['CountyFIPS']
rotated_data.drop(columns=['CountyFIPS'], inplace=True)
rotated_data.drop(columns=['StateCodeFIPS_y'], inplace=True)
rotated_data.drop(columns=['StateCodeFIPS_x'], inplace=True)
#rotated_data.rename(columns={'CountyFIPS': 'county_fips'}, inplace=True)
#rotated_data.rename(columns={'StateCodeFIPS_y': 'StateCodeFIPS'}, inplace=True)
#print(rotated_data[['CountyName', 'StateName', 'StateCodeFIPS', 'county_fips']].head())

# Reorder columns and add an "index" column at the beginning with row numbers
ordered_reordered_data_final


# Save the final DataFrame to a CSV file
output_path = './data/modified_population_under_poverty_per_county.csv'
rotated_data.to_csv(output_path, index=False)

output_path

'./data/modified_population_under_poverty_per_county.csv'

resident_population per county

In [82]:
import pandas as pd


# Load the initial file to inspect its structure
file_path = './data/respop_by_county.csv'
data = pd.read_csv(file_path)

# Transpose the data to switch rows and columns
transposed_data = data.set_index("Unnamed: 0").transpose().reset_index()

# Copy the "index" column to a new column named "County"
transposed_data["County"] = transposed_data["index"]

# Separate county and state from the "County" column
transposed_data[['County', 'State']] = transposed_data['County'].str.extract(r'^(.*), ([A-Z]{2})')

# Reorder columns to make "County" and "State" next to "index"
columns_order = ['index', 'County', 'State'] + [col for col in transposed_data.columns if col not in ['index', 'County', 'State']]
reordered_data = transposed_data[columns_order]

# Clean the "County" column by removing specific phrases
transformed_data = reordered_data.copy()
transformed_data["County"] = transformed_data["County"].replace(
    {
        "Resident Population in ": "",
        " County": "",
        "/city": "",
        "/City": "",
        "Miami-": ""
    },
    regex=True
)

# Copy "County" to a new column named "RegionName"
transformed_data["RegionName"] = transformed_data["County"]

# Add new columns with placeholders
transformed_data["RegionType"] = "county"
transformed_data["StateCodeFIPS"] = ""
transformed_data["StateName"] = transformed_data["State"]
transformed_data["county_fips"] = ""

# Reorder columns as specified
reordered_columns = [
    'index', 'RegionName', 'RegionType', 'County', 'StateName', 
    'State', 'StateCodeFIPS', 'county_fips'
] + [col for col in transformed_data.columns if col not in [
    'index', 'RegionName', 'RegionType', 'County', 'StateName', 
    'State', 'StateCodeFIPS', 'county_fips'
]]
reordered_data_final = transformed_data[reordered_columns]

# Rename "County" to "CountyName"
reordered_data_final = reordered_data_final.rename(columns={"County": "CountyName"})

# Append "County" to values in "RegionName" column
reordered_data_final["RegionName"] = reordered_data_final["RegionName"] + " County"

# Load the county name file to merge FIPS codes
county_file_path = './data/countyname.csv'
county_data = pd.read_csv(county_file_path)
#print(reordered_data_final[['CountyName', 'StateName', 'StateCodeFIPS', 'county_fips']].head())
# Strip extra whitespace for consistency
reordered_data_final["StateName"] = reordered_data_final["StateName"].str.strip()
reordered_data_final["CountyName"] = reordered_data_final["CountyName"].str.strip()
county_data["StateName"] = county_data["StateName"].str.strip()
county_data["CountyName"] = county_data["CountyName"].str.strip()

# Perform the merge to fill in "StateCodeFIPS" and "county_fips"
reordered_data_final = reordered_data_final.merge(
    countyname_data[['StateCodeFIPS', 'CountyFIPS', 'CountyName', 'StateName']],
    how='left',
    left_on=['CountyName', 'StateName'],
    right_on=['CountyName', 'StateName']
)
#print(reordered_data_final.columns)
#print(reordered_data_final[['CountyName', 'StateName', 'StateCodeFIPS_y', 'county_fips']].head())
# Combine the FIPS codes and remove extra columns
reordered_data_final['StateCodeFIPS'] = reordered_data_final['StateCodeFIPS_y']
reordered_data_final['county_fips'] = reordered_data_final['CountyFIPS']
reordered_data_final = reordered_data_final.drop(columns=['StateCodeFIPS_x', 'StateCodeFIPS_y', 'CountyFIPS'])
#print(reordered_data_final[['CountyName', 'StateName', 'StateCodeFIPS', 'county_fips']].head())
# Reorder the columns based on the specified order
columns_order = [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
] + [col for col in reordered_data_final.columns if col not in [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
]]
reordered_data_final = reordered_data_final[columns_order]
# Save the final data to a CSV file
output_file_path = './data/modified_resident_population_per_county.csv'
reordered_data_final.to_csv(output_file_path, index=False)

preprocess gdp data

In [91]:
import pandas as pd

# Load the provided CSV files
gdp_by_county = pd.read_csv('./data/gdp_by_county.csv')
county_names = pd.read_csv('./data/countyname.csv')

# Transpose the GDP data so that each county becomes a row and each date a column
gdp_by_county_rotated = gdp_by_county.set_index(gdp_by_county.columns[0]).transpose()
gdp_by_county_rotated.reset_index(inplace=True)

# Copy the "index" column to a new column named "RegionName"
gdp_by_county_rotated['RegionName'] = gdp_by_county_rotated['index']

# Reorder the columns to place "RegionName" next to "index"
columns_order = ['index', 'RegionName'] + [col for col in gdp_by_county_rotated.columns if col not in ['index', 'RegionName']]
gdp_by_county_rotated = gdp_by_county_rotated[columns_order]

# Remove "Gross Domestic Product: All Industries in" from the values in the "RegionName" column
gdp_by_county_rotated['RegionName'] = gdp_by_county_rotated['RegionName'].str.replace(
    'Gross Domestic Product: All Industries in ', '', regex=False
)

# Separate "RegionName" into "County" and "State" columns
gdp_by_county_rotated[['County', 'State']] = gdp_by_county_rotated['RegionName'].str.rsplit(', ', n=1, expand=True)

# Reorder the columns to place "County" and "State" next to "RegionName"
columns_order = ['index', 'RegionName', 'County', 'State'] + [col for col in gdp_by_county_rotated.columns if col not in ['index', 'RegionName', 'County', 'State']]
gdp_by_county_rotated = gdp_by_county_rotated[columns_order]

# Remove "County", "/City", "/city", "Miami-" from "County" column
gdp_by_county_rotated['County'] = gdp_by_county_rotated['County'].str.replace(' County', '', regex=False)
gdp_by_county_rotated['County'] = gdp_by_county_rotated['County'].str.replace('/City', '', regex=False)
gdp_by_county_rotated['County'] = gdp_by_county_rotated['County'].str.replace('/city', '', regex=False)
gdp_by_county_rotated['County'] = gdp_by_county_rotated['County'].str.replace('Miami-', '', regex=False)

# Rename "County" column to "CountyName"
gdp_by_county_rotated.rename(columns={'County': 'CountyName'}, inplace=True)

# Add new columns with placeholder values
gdp_by_county_rotated['RegionType'] = 'county'
gdp_by_county_rotated['StateName'] = gdp_by_county_rotated['State']
gdp_by_county_rotated['StateCodeFIPS'] = None
gdp_by_county_rotated['county_fips'] = None

# Merge with county_names to fill in StateCodeFIPS and county_fips values
gdp_by_county_merged = gdp_by_county_rotated.merge(
    county_names[['StateCodeFIPS', 'CountyFIPS', 'CountyName', 'StateName']],
    how='left',
    left_on=['CountyName', 'StateName'],
    right_on=['CountyName', 'StateName']
)
#print(gdp_by_county_merged.columns)
#print(gdp_by_county_merged[['CountyName', 'StateName', 'StateCodeFIPS_y', 'county_fips']].head())
# Assign correct columns and clean up
gdp_by_county_merged['county_fips'] = gdp_by_county_merged['CountyFIPS']
gdp_by_county_merged['StateCodeFIPS'] = gdp_by_county_merged['StateCodeFIPS_y']
gdp_by_county_merged = gdp_by_county_merged.drop(columns=['StateCodeFIPS_x', 'StateCodeFIPS_y', 'CountyFIPS'])
#print(gdp_by_county_merged[['CountyName', 'StateName', 'StateCodeFIPS', 'county_fips']].head())
columns_order = [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
] + [col for col in gdp_by_county_merged.columns if col not in [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
]]
gdp_by_county_merged = gdp_by_county_merged[columns_order]
# Save the modified DataFrame to a CSV file
gdp_by_county_merged.to_csv('./data/modified_gdp_per_county.csv', index=False)

preprocess total list per county

In [101]:
import pandas as pd


# Load the initial CSV file and county name file
file_path = './data/totallist_by_county.csv'
countyname_path = './data/countyname.csv'
data = pd.read_csv(file_path)
county_data = pd.read_csv(countyname_path)

# Transpose the data to switch columns and rows
transposed_data = data.transpose()
transposed_data.columns = transposed_data.iloc[0]  # Set the first row as header
transposed_data = transposed_data.drop(transposed_data.index[0])  # Drop the first row as it's now the header
transposed_data_with_index = transposed_data.reset_index()  # Reset index
transposed_data_with_index.columns.values[0] = 'County/Inventory Metric'  # Rename index column
transposed_data_with_index.rename(columns={'County/Inventory Metric': 'index'}, inplace=True)

# Copy "index" column to create "RegionName"
transposed_data_with_index['RegionName'] = transposed_data_with_index['index']

# Simplify the "RegionName" column by removing "Housing Inventory: Total Listing Count in"
transposed_data_with_index['RegionName'] = transposed_data_with_index['RegionName'].str.replace(
    "Housing Inventory: Total Listing Count in ", "", regex=False
)

# Split "RegionName" into "County" and "State" columns
transposed_data_with_index[['County', 'State']] = transposed_data_with_index['RegionName'].str.rsplit(', ', n=1, expand=True)

# Reorder columns to place "County" and "State" next to "RegionName"
columns = list(transposed_data_with_index.columns)
columns.insert(columns.index("RegionName") + 1, columns.pop(columns.index("County")))
columns.insert(columns.index("RegionName") + 2, columns.pop(columns.index("State")))
transposed_data_reordered = transposed_data_with_index[columns]

# Remove specific terms from "County" column
transposed_data_reordered['County'] = transposed_data_reordered['County'].replace(
    [" County", "/City", "/city", "Miami-"], "", regex=True
)

# Add new columns "RegionType", "StateName", "StateCodeFIPS", and "county_fips"
transposed_data_reordered['RegionType'] = None
transposed_data_reordered['StateName'] = None
transposed_data_reordered['StateCodeFIPS'] = None
transposed_data_reordered['county_fips'] = None

# Reorder the main columns as specified
ordered_columns = [
    "index", "RegionName", "RegionType", "County", "StateName", "State", 
    "StateCodeFIPS", "county_fips"
] + [col for col in transposed_data_reordered.columns if col not in [
    "index", "RegionName", "RegionType", "County", "StateName", "State", 
    "StateCodeFIPS", "county_fips"
]]
transposed_data_ordered = transposed_data_reordered[ordered_columns]

# Fill "RegionType" with "county" and copy "State" values to "StateName"
transposed_data_ordered['RegionType'] = 'county'
transposed_data_ordered['StateName'] = transposed_data_ordered['State']

# Rename "County" to "CountyName" for final presentation
transposed_data_ordered.rename(columns={'County': 'CountyName'}, inplace=True)

# Merge with county FIPS data to fill "StateCodeFIPS" and "county_fips"
merged_data = transposed_data_ordered.merge(
    county_data[['StateCodeFIPS', 'CountyFIPS', 'CountyName', 'StateName']],
    how='left',
    left_on=['StateName', 'CountyName'],
    right_on=['StateName', 'CountyName']
)

#print(merged_data.columns)
#print(merged_data[['CountyName', 'StateName', 'StateCodeFIPS_y', 'CountyFIPS']].head())
# Assign correct columns and clean up
merged_data['county_fips'] = merged_data['CountyFIPS']
merged_data['StateCodeFIPS'] = merged_data['StateCodeFIPS_y']
merged_data = merged_data.drop(columns=['StateCodeFIPS_x', 'StateCodeFIPS_y', 'CountyFIPS'])
#print(gdp_by_county_merged[['CountyName', 'StateName', 'StateCodeFIPS', 'county_fips']].head())
columns_order = [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
] + [col for col in merged_data.columns if col not in [
    "index", "RegionName", "RegionType", "CountyName", "StateName", 
    "StateCodeFIPS", "county_fips"
]]
merged_data = merged_data[columns_order]
# Save the modified DataFrame to a CSV file
merged_data.to_csv('./data/modified_totallisting_per_county.csv', index=False)